<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>查询页面</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<include th:replace="/common/css :: commoncss"/>

	<style type="text/css">
	 	.content-wrapper {
				margin-left: 0px;
		}
		.qstnTitle img{display: none;}
		
		@media only screen and (max-width: 768px) {
			.box-header{
				flex-direction: column;
			}
			.box-header .box-search{
				margin: 10px auto;
			}
		}
	</style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
		         	试题查询
		        </h1>
				<ol class="breadcrumb">
					 <li>
						<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
					</li>
					<li class="active">
						<a href="#">试题查询</a>
					</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box">
					<form name="infoForm" id="queryForm" method="post"   th:object="${page}"  >
						<div class="box-header clearfix">
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">试题类型</span>
									<select class="form-control" name="qstnTypeId"   th:field="*{qstnTypeId}"  >
										<option value="">请选择</option>
										<option   th:value = "${qstnType.qstnTypeId }"   th:each="qstnType,i:${qstnTypeList}"   th:text="${qstnType.qstnTypeName }"   >试题类型</option>		
									</select>
								</div>
							</div>
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">试题来源</span>
									<select class="form-control" name="qstnFromTypeId"   th:field="*{qstnFromTypeId}" >
										<option value="">请选择</option>
										<option  th:value = "${qstnFrom.qstnFromTypeId }"   th:each="qstnFrom,i:${qstnFromList}"   th:text="${qstnFrom.qstnFromTypeCode}"  >试题来源</option>		
									</select>
								</div>
							</div>
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">试题代号</span>
									<input type="text" class="form-control" name='qstnCode'  th:field="*{qstnCode}" placeholder="试题代号"  >
								</div>
							</div>
						
							<div class="box-search btn-group">
								<button class="btn btn-info" name="queryInfo">查询</button>
							
								<button type="button" class="btn btn-primary" name="clearInfo" onclick="javascript:clearEle()">清空</button>
								<button type="button" class="btn btn-success" name="addInfo" onclick="javascript:addPage()">添加</button>
								<button type="button" class="btn btn-warning" name="delbtn" onclick="javascript:dels()">删除</button>

							</div>
						</div>
						<div class="box-header clearfix">
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">科目单元</span>
									<select class="form-control" name="subjId"  onchange="selectSubj(this.value)"  th:field="*{subjId}"  >
										<option value="">请选择</option>
										<option  th:value = "${subj.subjId }"   th:each="subj,i:${subjList}"   th:text="${subj.subjTitle }"  >科目单元</option>
									</select>
								</div>
							</div>
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">知识章</span>
									<select class="form-control" name="unitId"  onchange="selectUnit(this.value)"  id="unitSelect"  th:field="*{unitId}"   >
										<option value="">请选择</option>									
										<option  th:value = "${unit.subjUnitId}"   th:each="unit,i:${subjUnitList}"   th:text="${unit.subjUnitTitle }"  >知识章</option>
									</select>
								</div>
							</div>
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">知识节</span>
									<select class="form-control" name="subjSctnId"  id="sctnSelect"   th:field="*{subjSctnId}"   >
										<option value="">请选择</option>
										<option  th:value = "${subjSctn.subjSctnId }"   th:each="subjSctn,i:${subjSctnList}"   th:text="${subjSctn.subjSctnTitle}" >知识节</option>
									</select>
								</div>
							</div>
							<div class="box-search btn-group">
								
								<button type="button" class="btn btn-danger" name="codeInfo"   onclick="javascript:editCode()" >代号</button>
								<button type="button" class="btn btn-info" name="codeInfo"   onclick="javascript:totalCount()" >统计</button>
								<button type="button" class="btn " name="codeInfo"   onclick="javascript:includeInfoCount()" >导入</button>
							</div>
						</div>
						<div class="box-header clearfix">
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">试题内容</span>
									<input type="text" class="form-control" value="" name="qstnTitle"  th:field="*{qstnTitle}"  style="width:600px;" placeholder="请输入试题内容">
								</div>
							</div>
						<div class="box-search btn-group">
							
						</div>
						
						</div>
					</form>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-bordered  table-striped">
							<tr>
								<th width="5%">序号</th>
								<th width="5%">全选</th>
								<th >试题内容</th>
								<th width="10%">试题类型</th>
								<th width="10%">来源类型</th>
								<th width="15%">所属知识</th>
								<th width="5%">序号</th>
								<th width="10%">代号</th>
								<th width="10%">上传时间</th>
								<th width="20%">操作</th>
							</tr>
							<form name="delForm"  method="post"  action="#"  th:action="@{/qstn/dels}"  >    
							<tbody th:remove="all-but-first" >       			  	
		        			<tr  th:each="row,i:${pageInfo.list}" >
		        			  <td  th:text="${i.index} + ${pageInfo.startRow}" >1</td>
		        			  <td ><input type="checkbox" name="ids" value="1"    th:value="${row.qstnId}"  ></td>
							  <td class="qstnTitle"  th:text="${#strings.substring(row.qstnTitle,0,10)}" >${qstn.qstnTitle }</td>
							  <td  th:text="${row.qstnTypeName}" >${qstn.qstnTypeId }</td>
							  <td  th:text="${row.qstnFromTypeCode}" >${qstn.qstnFromTypeId }</td>
							  <td  th:text="${row.subjSctnTitle}"  >${qstn.subjSctnId }</td>
							  <td  th:text="${row.qstnNum}"  >${qstn.subjSctnId }</td>
							  <td  th:text="${row.qstnCode}"  >${qstn.subjSctnId }</td>
							  <td  th:text="${#dates.format(row.qstnInputTime, 'yyyy-MM-dd')}" ></td>
							  <td>
								<button type="button" class="btn btn-primary btn-sm"  th:onclick="editpage([[${row.qstnId}]])"  onclick="javascript:editpage('1')">修改</button>
								<button type="button" class="btn btn-info btn-sm"  th:onclick="answerpage([[${row.qstnId}]])"  onclick="javascript:editpage('1')">设置答案</button>
							 </td>
							</tr>	
							</tbody>
							</form>
						</table>
							<br/>
		        		<div th:replace="/common/js :: commonjs"></div>
						<div th:include="common/pagination::pagination(uri='/qstn/query',page=${pageInfo})" align="center" ></div>
					</div>
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
	</div>
	<!-- ./wrapper -->

</body>


<script type="text/javascript">

	function editCode(){
		//console.log(123);
		if(confirm("确认要重置代号吗?")){
			$.post("/qstn/addCode",function(resp){ console.log(resp) });
		}
		
	}
	function totalCount(){
		if(confirm("确认要统计数量吗?")){
			$.post("/qstn/totalCount",function(resp){ console.log(resp) });
		}
	}
	function includeInfoCount(){
		if(confirm("确认要导入数据吗?")){
			$.post("/qstn/includeInfoCount",{'oldId':'','newId':''},function(resp){ console.log(resp) });
		}
	}


	function selectSubj(subjId){
		var url = "/subjUnit/selectSubj";
		$.post(url,{"subjId":subjId},function(resp){
			// unitSelect
			console.log(resp);
			$("#unitSelect").empty();
			$("<option value=''>请选择</option>").appendTo("#unitSelect");
			$.each(resp, function(i, item){
				$("<option value='" + item.subjUnitId + "'>" + item.subjUnitNum + "." + item.subjUnitTitle + "</option>").appendTo("#unitSelect");
			});
			if(resp.length > 0){
				selectUnit(resp[0].subjUnitId);
			}
			
		});
	}
	
	function selectUnit(unitId){
		var url = "/subjSctn/selectUnit";
		$.post(url,{"unitId":unitId},function(resp){
			// sctnSelect
			console.log(resp);
			$("#sctnSelect").empty();
			$("<option value=''>请选择</option>").appendTo("#sctnSelect");
			$.each(resp, function(i, item){
				$("<option value='" + item.subjSctnId + "'>" + item.subjSctnNum + "." + item.subjSctnTitle + "</option>").appendTo("#sctnSelect");
			});
		});
	}

		
		function answerpage(qstnId){
			window.location.href = "/ans/query?id=" + qstnId;
		}
		
		function dels(){
			var ids = $("[name=ids]:checked");
			if(ids.length==0){
				alert("请选择要删除记录!");
				return;
			}
			if(window.confirm("确定要删除吗?")){
				//console.log(document.delForm.action);
				document.delForm.submit();
			}
		}

		function editpage(id) {
			//bootbox.alert(id);
			window.location.href = "/qstn/editPage?id=" + id;
		}

		function clearEle() {

			bootbox.confirm("确定要清空查询条件吗?", function(result) {
				if(result) {
					$("[name=infoForm] input").val("");
					$("[name=infoForm] select").each(function(i, j) {
						$(j).find("option:selected").prop("selected", false);
						$(j).find("option").first().prop("selected", true);
					});
				} else {
					console.log("no");
				}
			});
		}
		
		function addPage(){
			window.location.href = "/qstn/addPage";
		}
	</script>

</html>