<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>查询页面</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <include th:replace="common/css :: commoncss"/>

	<style type="text/css">
	 	.content-wrapper {
				margin-left: 0px;
		}
		.qstnTitle img{display: none;}
		
		@media only screen and (max-width: 768px) {
			.box-header{
				flex-direction: column;
			}
			.box-header .box-search{
				margin: 10px auto;
			}
		}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
         	测试方案查询
        </h1>
        <ol class="breadcrumb">
       <li>
			<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
		</li>
          <li class="active"><a href="#">测试方案查询</a></li>
        </ol>
      </section>
  
      <!-- Main content -->
     
     	 <section class="content">
        <div class="box">
         <form name="infoForm" id="queryForm" method="post" >
        	<div class="box-header clearfix">
				<div class="box-search btn-group">
					<button class="btn btn-success"  type="button" name="queryInfo"  onclick="addPage()" >添加</button>
					<button class="btn btn-warning"  type="button" name="queryInfo"  onclick="dels()">删除</button>
				</div>
        	</div>
        	</form>
        	<!-- /.box-header -->
        	<div class="box-body no-padding">
        		<table class="table table-striped">
        			<tr>
        				<th>序号</th>
        				<th>全选</th>
        				<th>方案名称</th>     				
        				<th>时长</th>
        				<th>类型</th>
        				<th>类型</th>
        				
						<th>操作</th>
        			</tr>
        			<form name="delForm"  method="post"  action="/testplan/dels.action"  th:action="@{/testplan/dels}" >
        		
        			<tbody th:remove="all-but-first" >       			  	
        			<tr  th:each="row,i:${list}" >
        			  <td  th:text="${i.count }" >1</td>
        			  <td ><input type="checkbox" name="ids" value="1"    th:value="${row.tpId}"  ></td>
        				<td  th:text="${row.tpTitle}"  >${unit.subjUnitTitle }</td>
        				<td  th:text="${row.tpTotal}" >${row.tpDate }</td>
        				<td th:switch="${row.tpType}">
								<span  th:case="'1'">固定出题</span>
								<span  th:case="'0'">随机出题</span>
								<span  th:case="'2'">笔试</span>
								<span  th:case="'3'">训练</span>
						</td>
        				
						<td>
							<button type="button" class="btn btn-primary btn-sm"  th:onclick="editpage([[${row.tpId}]])"  onclick="javascript:editpage('1')">修改</button>
							<button type="button" class="btn btn-info btn-sm"  th:onclick="setpage([[${row.tpId}]])"  onclick="javascript:editpage('1')">设置明细</button>
							<button type="button" class="btn btn-danger btn-sm"  th:unless="${row.tpType eq '2'  ||  row.tpType eq '1' }"  th:onclick="openpaper([[${row.tpId}]])"  onclick="javascript:editpage('1')">打开试卷</button>
							<button type="button" class="btn btn-success btn-sm"  th:onclick="targetClass([[${row.tpId}]])"  onclick="javascript:editpage('1')">关联班级</button>
							<button type="button" class="btn  btn-sm"  th:onclick="classCharts([[${row.tpId}]])"  onclick="javascript:editpage('1')">成绩查询</button>
							<button type="button" class="btn btn-warning  btn-sm"  th:if="${row.tpType eq '2'}"  th:onclick="inputScore([[${row.tpId}]])"  onclick="javascript:editpage('1')">录入成绩</button>
						</td>
        			</tr>
        			</tbody>
        			</form>
        		</table>
        	</div>
<!--         	/.box-body -->
			
<!-- 		/. box-footer -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>

</div>
<!-- ./wrapper -->

<div th:replace="common/js :: commonjs"></div>

</body>


<script type="text/javascript">


	  
	function addPage(){
		location.href = "/testplan/addPage"; 
	}

	function editpage(id){
		location.href = "/testplan/editPage?tpId=" + id; 
	}
	function inputScore(id){
		location.href = "/testplan/inputScore?tpId=" + id; 
	}
	function classCharts(id){
		location.href = "/testplan/classCharts?tpId=" + id; 
	}
	function targetClass(id){
		location.href = "/testplan/targetClass?tpId=" + id; 
	}
	
	function openpaper(id){
		location.href = "/testplan/openpaper?tpId=" + id; 
	}
	
	function setpage(id){
		location.href = "/testplan/setPage?tpId=" + id; 
	}
	
	function dels(){
		var ids = $("[name=ids]:checked");
		if(ids.length==0){
			alert("请选择要删除记录!");
			return;
		}
		
		if(window.confirm("确定要删除吗?")){
			document.delForm.submit();
		}
	}

</script>

</html>