<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>添加页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	  <include th:replace="common/css :: commoncss"/>
		
		
		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

		

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
          				调分类型修改
			        </h1>
			       <ol class="breadcrumb">
						<li>
							<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
						</li>
						<li class="active">
							<a href="#">调分类型修改</a>
						</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="row">
						<form class="form form-horizontal" method="post"    th:action="@{/updatetype/editSave}"  th:object="${uupt}"  >
						<input type="hidden" name="uuptId"  th:value="*{uuptId}"  >
							<!-- left column -->
							<div class="col-md-8 col-md-offset-2">
								<!-- general form elements -->
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">基本信息</h3>
										<div class="box-search">
											<button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
										</div>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body">
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">调分类型</label>
											<div class="col-sm-10">
												<input type="text" class="form-control"  th:field="*{uuptInfo}"  name="uuptInfo"  placeholder="请您输入调分类型" required="required">
											</div>
										</div>
									
										<div class="form-group">
											<label for="cardid" class="col-sm-2 control-label">调分类型分类</label>
											<div class="col-sm-4 radio text-left">
									        <label>
									          <input type="radio"  value="0" th:field="*{uuptType}"  th:value="0"  th:checked="checked"  name="uuptType"  checked >个人
									        </label>
									         <label>
									          <input type="radio" value="1" th:field="*{uuptType}"  th:value="1"  th:checked="checked" name="uuptType">团队
									        </label>
											</div>
												<label for="name" class="col-sm-2 control-label">序号</label>
											<div class="col-sm-4">
												<input type="number" class="form-control" name="uuptNum"  th:field="*{uuptNum}"   placeholder="请您输入序号" required="required">
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">个人得分</label>
											<div class="col-sm-4">
												<input type="number" class="form-control" name="uuptPrimaryPoint" value="0"  th:field="*{uuptPrimaryPoint}"  placeholder="请您输入个人得分" required="required">
											</div>
											<label for="name" class="col-sm-2 control-label">团队得分</label>
											<div class="col-sm-4">
												<input type="number" class="form-control" name="uuptTeamPoint" value="0"   th:field="*{uuptTeamPoint}"  placeholder="请您输入团队得分" required="required">
											</div>
										</div>
															
									<!-- /.box-body -->
									<div class="box-footer">
										<button type="button" class="btn btn-danger" onclick="cleanUp(this)">清空</button>
										<button type="submit" class="btn btn-info pull-right">提交</button>
									</div>
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
								<!-- /.modal -->
							</div>
							<!--/.col (right) -->
						</form>
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		
		</div>
		<div th:replace="common/js :: commonjs"></div>
	</body>
	
	<script type="text/javascript">
		

		//清空
		function cleanUp(btn) {
			parDiv = $(btn).parent().parent();
			parDiv.find("input").val("");
			parDiv.find("textarea").html("");
			parDiv.find("select").each(function(i, j) {
				$(j).find("option:selected").prop("selected", false);
				$(j).find("option").first().prop("selected", true);
			});
		}
	</script>

</html>