<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>修改页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  		
  		<include th:replace="common/css :: commoncss"/>
				
		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

		

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
          				用户角色设置
			        </h1>
			        <ol class="breadcrumb">
			        	<li>
							<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
						</li>
			          <li class="active"><a href="#">用户角色设置</a></li>
			        </ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="row">
						<form class="form form-horizontal" method="post"   th:action="@{/sysuser/editUserRole}"  th:object="${user}" >
							<input type="hidden" name="userId"  th:value="*{userId}"  >
							<!-- left column -->
							<div class="col-md-8 col-md-offset-2">
								<!-- general form elements -->
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">基本信息</h3>
										<div class="box-search">
											<button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
										</div>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body">
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">用户账号</label>
											<div class="col-sm-10"  th:text="*{userName}"  >
												
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">用户昵称</label>
											<div class="col-sm-10"   th:text="*{nickName}"  >
												
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">设置角色</label>
											<div class="col-sm-10">
													<table class="table table-striped">
									        			<tr>
									        				<th>序号</th>
									        				<th>全选</th>
									        				<th>角色名</th>     				
									        				<th>角色状态</th>
									        				<th>角色说明</th>														
									        			</tr>
									        			
									        			<tbody th:remove="all-but-first" >       			  	
										        			<tr  th:each="row,i:${rolelist}" >
											        			<td th:text="${i.count }">1</td>
											        			<td ><input type="checkbox" name="ids"  value="1"   th:checked="${row.roleSelected}"   th:value="${row.roleId}"  ></td>
											       				<td th:text="${row.roleName}" >JavaSE</td>
											       				<td th:text="${row.roleState}">1</td>
											       				<td th:text="${row.roleInfo}">1</td>
										       				</tr>	       			  		
										        		</tbody>
									        		
									        		</table>
											</div>
										</div>
									</div>
									<!-- /.box-body -->
									<div class="box-footer">
										<button type="button" class="btn btn-danger" onclick="cleanUp(this)">清空</button>
										<button type="submit" class="btn btn-info pull-right">提交</button>
									</div>
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
								<!-- /.modal -->
							</div>
							<!--/.col (right) -->
						</form>
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		
		</div>
		
		<div th:replace="/common/js :: commonjs"></div>
	</body>



	<script type="text/javascript">
		
		//清空
		function cleanUp(btn) {
			parDiv = $(btn).parent().parent();
			parDiv.find("input").val("");
			parDiv.find("textarea").html("");
			parDiv.find("select").each(function(i, j) {
				$(j).find("option:selected").prop("selected", false);
				$(j).find("option").first().prop("selected", true);
			});
		}
	</script>

</html>