<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
    <layout class="ch.qos.logback.classic.PatternLayout">  
      <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>  
    </layout>  
  </appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/usr/local/logs/ssm_logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
  <root level="info">  
    <appender-ref ref="stdout" />  
   
  </root>
  <!-- 打印sql语句用 -->

  <logger name="com.yuzo.question.mapper" level="DEBUG"/>
</configuration>