<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>修改页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	  <include th:replace="common/css :: commoncss"/>
		
		
		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

		

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
          				设置课程试题重点
			        </h1>
			       <ol class="breadcrumb">
						<li>
							<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
						</li>
						<li class="active">
							<a href="#">设置课程试题重点</a>
						</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="row">
						<form class="form form-horizontal" method="post"   th:object="${crse}"   th:action="@{/stdycrse/qstnflagSave}"  >
							<input type="hidden" name="crseId"  th:field="*{crseId}"  >
							<!-- left column -->
							<div class="col-md-10 col-md-offset-1">
								<!-- general form elements -->
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">基本信息</h3>
										<div class="box-search">
											<button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
										</div>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body">
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">课程名称</label>
											<div class="col-sm-10"  th:text="*{crseName}"   >
												
											</div>
										</div>
									
									<div class="box-body no-padding">
										<div class="col-sm-12">
											<table  class="table table-bordered table-striped" >
												<tr>
							        				<th>试题ID</th>     				
							        				<th>试题代号</th>     				
							        				<th>所属节</th>
							        				<th>试题类型</th>
													<th>操作</th>
							        			</tr>
							        			<tbody id="tb" >
							        				<tr th:each="row,i:${scqList}"   >	
							        					<td><input readOnly  th:value="${row.crseQstnId}" name="qstns" ></td>						       
									       				<td th:text="${row.qstnCode}" ></td>
									       				<td th:text="${row.subjSctnTitle}">1</td>
									       				<td th:text="${row.qstnTypeName}">1</td>
									       				<td ><input type="checkbox"   class='flagCheck'  th:checked="${row.crseQstnFlag}"    ><input name='qstnFlags'  type="hidden"  th:value="${row.crseQstnFlag}" ></td>
									       				
							        				</tr>
							        			</tbody>
											</table>
										</div>
									</div>

									</div>						
									<!-- /.box-body -->
									<div class="box-footer">
										
										<button type="submit" class="btn btn-info pull-right">提交</button>
									</div>
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
								<!-- /.modal -->
							</div>
							<!--/.col (right) -->
						</form>
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		
		</div>
		<div th:replace="common/js :: commonjs"></div>
	</body>
	
	<script type="text/javascript">
		$(function(){
			
			$(".flagCheck").click(function(){
				$(this).next()
				if($(this).prop("checked")){
					$(this).next().val("checked");
				}else{
					$(this).next().val("false");
				}
				
			});
		});

	
		
	

		
		

		
	</script>

</html>