<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>试卷页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	  <include th:replace="common/css :: commoncss"/>
 	  <link rel="stylesheet" th:href="@{https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">

 

		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
			.iradio_square-blue{
				float:left;
			}
			.questionanswer{
				width:90%;
				margin: 3px;
			}
			
			.mask{
				position: fixed;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				background-color: black;
				opacity: 0.5;
				z-index: 3000;
			}
			.ui-progressbar {
			
			position: fixed;
			top: 50%;
			left: 50%;
			margin-left: -200px;
			margin-top: -160px ;
			  z-index: 3001;
			  width:400px;
			}
			.progress-label {
			  display: none;
			  position: absolute; 
			  left: 40%;
			  top: 4px;
			  font-weight: bold;
			  text-shadow: 1px 1px 0 #fff;
			  z-index: 3002;
			}
			
			  #progressbar .ui-progressbar-value {
			    background-color: skyblue;
			  }
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
				 <h1 th:text="${crse.crseName}">
		         	测试方案查询
		        </h1>

					  <div class="box-header clearfix">
						
						<div class="col-sm-12">
							<div id="mainUnit" style="width:100%;height:420px;"></div>
						</div>
					
						
		        	</div>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="row">
						<form class="form form-horizontal" method="post"   onkeydown="if(event.keyCode==13)return false;"    th:action="@{/testplan/answerSave}"  onsubmit="return(doSub())"  >
							<!-- left column -->
							<div class="col-md-10 col-md-offset-1">
							
								<!-- general form elements -->
								<div class="box box-primary"  th:if="${qstnList0 != null}" >
								
									<div class="box-header with-border">
										<h3 class="box-title">单项选择</h3>
									
									</div>
									<!-- /.box-header -->
										<div class="box-body"  th:each="qstn,i:${qstnList0}" >
										<input  type="hidden"   name="qstns0" th:value="${qstn.qstnId}">
										<div class="form-group" >
											<label for="name" class="col-sm-1 control-label" th:text="${'第' + i.count + '题:'}" >试题名称</label>
											<div class="col-sm-11" th:utext="${'( ' + qstn.qstnCode + ' )' + qstn.qstnTitle}">	
											</div>
										</div>
										<div class="form-group" >
											<label class="col-sm-1 control-label"  >选择</label>
											<div class="col-sm-11 radio text-left" >
												<div  th:each="ans,i:${qstn.ansList}">
												<label  class="questionanswer">
										          <input type="radio"  th:value="${ans.ansId}" th:name="${qstn.qstnId + 'ans'}"    ><span   th:utext="${ans.ansContent}"     ></span>			
										        </label>	
										        </div>						
											</div>
										</div>
									</div>
								
									<!-- /.box-body -->
									<div  id="ans0div" ></div>
								</div>
								
								
								<div class="box box-primary" th:if="${qstnList2 != null}" >
								
									<div class="box-header with-border">
										<h3 class="box-title">填空题</h3>
									
									</div>
									<!-- /.box-header -->
						
									<div class="box-body"  th:each="qstn,i:${qstnList2}" >
										<input  type="hidden"  name="qstns2" th:value="${qstn.qstnId}">
										<div class="form-group" >
											<label for="name" class="col-sm-1 control-label" th:text="${'第' + i.count + '题:'}" >试题名称</label>
											<div class="col-sm-11" th:utext="${'( ' + qstn.qstnCode + ' )' + qstn.qstnTitle}">
												
											</div>
										</div>
										<div class="form-group" >
											<label for="name" class="col-sm-1 control-label"  >回答</label>
											<div class="col-sm-11" >
												<input   class="form-control"  name="ans2" >
											</div>
										</div>
									</div>
								
									<!-- /.box-body -->
								
								</div>
								
								<div class="box box-primary" th:if="${qstnList4 != null}" >
								
									<div class="box-header with-border">
										<h3 class="box-title">简答题</h3>
									
									</div>
									<!-- /.box-header -->
						
									<div class="box-body"  th:each="qstn,i:${qstnList4}" >
										<input  type="hidden"  name="qstns4" th:value="${qstn.qstnId}">
										<div class="form-group" >
											<label for="name" class="col-sm-1 control-label" th:text="${'第' + i.count + '题:'}" >试题名称</label>
											<div class="col-sm-11" th:utext="${'( ' + qstn.qstnCode + ' )' + qstn.qstnTitle}">
												
											</div>
										</div>
										<div class="form-group" >
											<label for="name" class="col-sm-1 control-label"  >回答</label>
											<div class="col-sm-11" >
												<textarea rows="3"  class="form-control"  name="ans4" ></textarea>
											</div>
										</div>
									</div>
								
									<!-- /.box-body -->
								
								</div>
								
								
							
								<!-- /.box-footer -->
								
								
								<!-- /.box -->
								
							</div>
							<!--/.col (right) -->
						</form>
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		</div>
	
		<div th:replace="common/js :: commonjs"></div>
		 <script    th:src="@{/plugins/echarts-2.2.7/build/dist/echarts-all.js}"  type="text/javascript" charset="utf-8"></script>
	</body>
	
	<script type="text/javascript">

	 	$(function () {
		    $('input').iCheck({
		      checkboxClass: 'icheckbox_square-blue',
		      radioClass: 'iradio_square-blue',
		      increaseArea: '20%' /* optional */
		    });
		  });
	 	
	 	$(function(){
			var url = "/stdycrse/ajaxCharsPlanMcUnit";
			$.post(url,{"crseId":"[[${crse.crseId}]]"},function(resp){
				console.log(resp);
	
						                    
					                    

				var myChart = echarts.init(document.getElementById('mainUnit'),"default");
						option = {
							    tooltip : {
							        trigger: 'item',
							        formatter: "{a} <br/>{b} : {c} ({d}%)"
							    },
							    legend: {
							        orient : 'vertical',
							        x : 'left',
							        data:resp.titles
							    },
							    toolbox: {
							        show : true,
							        feature : {
							            mark : {show: true},
							            dataView : {show: true, readOnly: false},
							            magicType : {
							                show: true, 
							                type: ['pie', 'funnel']
							            },
							            restore : {show: true},
							            saveAsImage : {show: true}
							        }
							    },
							    calculable : false,
							    series : [
							        {
							            name:'知识章',
							            type:'pie',
							            selectedMode: 'single',
							            radius : [0, 70],
							            
							            // for funnel
							            x: '20%',
							            width: '40%',
							            funnelAlign: 'right',
							            max: 1548,
							            
							            itemStyle : {
							                normal : {
							                    label : {
							                        position : 'inner'
							                    },
							                    labelLine : {
							                        show : false
							                    }
							                }
							            },
							            data:resp.unitList
							        },
							        {
							            name:'知识节',
							            type:'pie',
							            radius : [100, 140],
							            
							            // for funnel
							            x: '60%',
							            width: '35%',
							            funnelAlign: 'left',
							            max: 1048,
							            
							            data:resp.sctnList
							        }
							    ]
							};
							var ecConfig = echarts.config;
							//var ecConfig = require('echarts/config');
							myChart.on(ecConfig.EVENT.PIE_SELECTED, function (param){
							    var selected = param.selected;
							    var serie;
							    var str = '当前选择： ';
							    for (var idx in selected) {
							        serie = option.series[idx];
							        for (var i = 0, l = serie.data.length; i < l; i++) {
							            if (selected[idx][i]) {
							                str += '【系列' + idx + '】' + serie.name + ' : ' + 
							                       '【数据' + i + '】' + serie.data[i].name + ' ';
							            }
							        }
							    }
							    document.getElementById('wrong-message').innerHTML = str;
							})
							                    
				// 使用刚指定的配置项和数据显示图表。
				myChart.setOption(option);
			})

		});
		
	</script>

</html>