<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.Question" >
    <id column="QSTN_ID" property="qstnId" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_ID" property="subjSctnId" jdbcType="VARCHAR" />
    <result column="QSTN_TYPE_ID" property="qstnTypeId" jdbcType="VARCHAR" />
    <result column="QSTN_FROM_TYPE_ID" property="qstnFromTypeId" jdbcType="VARCHAR" />
    <result column="QSTN_TITLE" property="qstnTitle" jdbcType="VARCHAR" />
    <result column="QSTN_INPUT_TIME" property="qstnInputTime"  />
    <result column="QSTN_PICTEXT" property="qstnPictext" jdbcType="VARCHAR" />
    <result column="QSTN_CODE" property="qstnCode" jdbcType="VARCHAR" />
    
    <result column="QSTN_NUM" property="qstnNum" jdbcType="INTEGER" />
    <result column="QSTN_LEVEL" property="qstnLevel" jdbcType="INTEGER" />
     
     <result column="QSTN_TYPE_NAME" property="qstnTypeName" jdbcType="VARCHAR" />
    <result column="QSTN_FROM_TYPE_CODE" property="qstnFromTypeCode" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_TITLE" property="subjSctnTitle" jdbcType="VARCHAR" />
     <result column="SUBJ_UNIT_TITLE" property="subjUnitTitle" jdbcType="VARCHAR" />
    <result column="SUBJ_TITLE" property="subjTitle" jdbcType="VARCHAR" />
    
    <result column="SUBJ_CODE" property="subjCode" jdbcType="VARCHAR" />
     <result column="SUBJ_UNIT_CODE" property="subjUnitCode" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_CODE" property="subjSctnCode" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    QSTN_ID, SUBJ_SCTN_ID, QSTN_TYPE_ID, QSTN_FROM_TYPE_ID, QSTN_TITLE, QSTN_INPUT_TIME, 
    QSTN_PICTEXT, QSTN_NUM , QSTN_CODE, qstn_level
  </sql>
  
  
  <select id="queryQstnByCrse" resultMap="BaseResultMap"  >
	 	select qstn.QSTN_ID, QSTN_TITLE, QSTN_INPUT_TIME, qstn.QSTN_TYPE_ID, qstn.QSTN_FROM_TYPE_ID, QSTN_CODE, QSTN_PICTEXT, QSTN_NUM, qstn.SUBJ_SCTN_ID
		from question  qstn 
			left join study_course_question  cq on cq.qstn_id = qstn.qstn_id
			left join study_course  crse   on crse.crse_id = cq.crse_id
			where crse.crse_id = #{crseId}   and qstn.QSTN_TYPE_ID = #{type}  and cq.crse_qstn_flag = #{flag}
  </select>
  
  <select id="queryBySctnId" resultMap="BaseResultMap" parameterType="string" >
	 	select QSTN_ID, QSTN_TITLE, QSTN_INPUT_TIME, qstn.QSTN_TYPE_ID, qstn.QSTN_FROM_TYPE_ID, QSTN_CODE, QSTN_PICTEXT, QSTN_NUM, qstn.SUBJ_SCTN_ID
		,qttype.QSTN_TYPE_NAME , qtfrom.QSTN_FROM_TYPE_CODE  , sctn.SUBJ_SCTN_TITLE 
		,unit.SUBJ_UNIT_TITLE, subj.SUBJ_TITLE, qstn_level
		FROM question qstn
			left JOIN question_type qttype  on qttype.QSTN_TYPE_ID = qstn.QSTN_TYPE_ID
			LEFT JOIN qstn_from_type  qtfrom on qtfrom.QSTN_FROM_TYPE_ID = qstn.QSTN_FROM_TYPE_ID
			LEFT JOIN subj_section sctn on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
			LEFT JOIN subj_unit unit on sctn.SUBJ_UNIT_ID = unit.SUBJ_UNIT_ID
			LEFT JOIN subject_course subj on subj.SUBJ_ID = unit.SUBJ_ID
		where
		    qstn.SUBJ_SCTN_ID = #{subjSctnId}
  </select>
  
  <select id="queryQuesByParams" resultMap="BaseResultMap" parameterType="string" >
	 	select QSTN_ID, QSTN_TITLE, QSTN_INPUT_TIME, qstn.QSTN_TYPE_ID, qstn.QSTN_FROM_TYPE_ID, QSTN_CODE, QSTN_PICTEXT, QSTN_NUM, qstn.SUBJ_SCTN_ID
		,qttype.QSTN_TYPE_NAME , qtfrom.QSTN_FROM_TYPE_CODE  , sctn.SUBJ_SCTN_TITLE 
		,unit.SUBJ_UNIT_TITLE, subj.SUBJ_TITLE, qstn_level
		FROM question qstn
			left JOIN question_type qttype  on qttype.QSTN_TYPE_ID = qstn.QSTN_TYPE_ID
			LEFT JOIN qstn_from_type  qtfrom on qtfrom.QSTN_FROM_TYPE_ID = qstn.QSTN_FROM_TYPE_ID
			LEFT JOIN subj_section sctn on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
			LEFT JOIN subj_unit unit on sctn.SUBJ_UNIT_ID = unit.SUBJ_UNIT_ID
			LEFT JOIN subject_course subj on subj.SUBJ_ID = unit.SUBJ_ID
		where
		   qstn.QSTN_TYPE_ID = #{qstnTypeId}  and  qstn.QSTN_FROM_TYPE_ID = #{qstnFromTypeId}  and qstn.SUBJ_SCTN_ID = #{subjSctnId}
  </select>
  
  
  <select id="queryQstnByTpId" resultMap="BaseResultMap" parameterType="string" >
	  select * from question  qstn  where qstn_type_id='4' AND   qstn.SUBJ_SCTN_ID in (
		select tpd.SUBJ_SCTN_ID 
		from test_plan_detailed  tpd 
					LEFT JOIN test_plan tp  on tpd.TP_ID = tp.TP_ID  
			where tp.TP_ID = #{value}  and tpd.TP_DTD_TYPE = '5'
		)
		order by qstn.QSTN_INPUT_TIME
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap"  >
   	select QSTN_ID, QSTN_TITLE, QSTN_INPUT_TIME, qstn.QSTN_TYPE_ID, qstn.QSTN_FROM_TYPE_ID, QSTN_CODE, QSTN_PICTEXT, QSTN_NUM, qstn.SUBJ_SCTN_ID
		,qttype.QSTN_TYPE_NAME , qtfrom.QSTN_FROM_TYPE_CODE  , sctn.SUBJ_SCTN_TITLE 
		,unit.SUBJ_UNIT_TITLE, subj.SUBJ_TITLE, qstn_level
		,unit.SUBJ_UNIT_CODE, subj.SUBJ_CODE, sctn.SUBJ_SCTN_CODE
		FROM question qstn
			left JOIN question_type qttype  on qttype.QSTN_TYPE_ID = qstn.QSTN_TYPE_ID
			LEFT JOIN qstn_from_type  qtfrom on qtfrom.QSTN_FROM_TYPE_ID = qstn.QSTN_FROM_TYPE_ID
			LEFT JOIN subj_section sctn on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
			LEFT JOIN subj_unit unit on sctn.SUBJ_UNIT_ID = unit.SUBJ_UNIT_ID
			LEFT JOIN subject_course subj on subj.SUBJ_ID = unit.SUBJ_ID
		order by QSTN_INPUT_TIME
  </select>
  
  
  <select id="queryAll" resultMap="BaseResultMap" parameterType="com.yuzo.question.page.QuestionPage" >
   	select QSTN_ID, QSTN_TITLE, QSTN_INPUT_TIME, qstn.QSTN_TYPE_ID, qstn.QSTN_FROM_TYPE_ID, QSTN_CODE, QSTN_PICTEXT, QSTN_NUM, qstn.SUBJ_SCTN_ID
		,qttype.QSTN_TYPE_NAME , qtfrom.QSTN_FROM_TYPE_CODE  , sctn.SUBJ_SCTN_TITLE 
		,unit.SUBJ_UNIT_TITLE, subj.SUBJ_TITLE, qstn_level
		FROM question qstn
			left JOIN question_type qttype  on qttype.QSTN_TYPE_ID = qstn.QSTN_TYPE_ID
			LEFT JOIN qstn_from_type  qtfrom on qtfrom.QSTN_FROM_TYPE_ID = qstn.QSTN_FROM_TYPE_ID
			LEFT JOIN subj_section sctn on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
			LEFT JOIN subj_unit unit on sctn.SUBJ_UNIT_ID = unit.SUBJ_UNIT_ID
			LEFT JOIN subject_course subj on subj.SUBJ_ID = unit.SUBJ_ID
	<where>
		<if test="qstnTypeId != null   and  qstnTypeId  != ''  ">
			and qstn.QSTN_TYPE_ID = #{qstnTypeId}
		</if>
		<if test="qstnCode != null   and  qstnCode  != ''  ">
			and qstn.QSTN_CODE = #{qstnCode}
		</if>
		<if test="qstnFromTypeId != null   and  qstnFromTypeId  != ''  ">
			and qstn.QSTN_FROM_TYPE_ID = #{qstnFromTypeId}
		</if>
		<if test="subjId != null   and  subjId  != ''  ">
			and subj.SUBJ_ID = #{subjId}
		</if>
		<if test="unitId != null   and  unitId  != ''  ">
			and unit.SUBJ_UNIT_ID = #{unitId}
		</if>
		<if test="subjSctnId != null   and  subjSctnId  != ''  ">
			and qstn.SUBJ_SCTN_ID = #{subjSctnId}
		</if>
		<if test="qstnTitle != null   and  qstnTitle  != ''  ">
			and qstn.QSTN_TITLE like CONCAT('%', #{qstnTitle}, '%')
		</if>
	</where>
		order by QSTN_INPUT_TIME
  </select>
  
  
  
    <select id="queryCountByXxx" resultType="int" parameterType="com.yuzo.question.page.QuestionPage" >
   	select count(QSTN_ID)
		FROM question qstn
			left JOIN question_type qttype  on qttype.QSTN_TYPE_ID = qstn.QSTN_TYPE_ID
			LEFT JOIN qstn_from_type  qtfrom on qtfrom.QSTN_FROM_TYPE_ID = qstn.QSTN_FROM_TYPE_ID
			LEFT JOIN subj_section sctn on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
			LEFT JOIN subj_unit unit on sctn.SUBJ_UNIT_ID = unit.SUBJ_UNIT_ID
			LEFT JOIN subject_course subj on subj.SUBJ_ID = unit.SUBJ_ID
	<where>
		<if test="qstnTypeId != null   and  qstnTypeId  != ''  ">
			and qstn.QSTN_TYPE_ID = #{qstnTypeId}
		</if>
		<if test="qstnCode != null   and  qstnCode  != ''  ">
			and qstn.QSTN_CODE = #{qstnCode}
		</if>
		<if test="qstnFromTypeId != null   and  qstnFromTypeId  != ''  ">
			and qstn.QSTN_FROM_TYPE_ID = #{qstnFromTypeId}
		</if>
		<if test="subjId != null   and  subjId  != ''  ">
			and subj.SUBJ_ID = #{subjId}
		</if>
		<if test="unitId != null   and  unitId  != ''  ">
			and unit.SUBJ_UNIT_ID = #{unitId}
		</if>
		<if test="subjSctnId != null   and  subjSctnId  != ''  ">
			and qstn.SUBJ_SCTN_ID = #{subjSctnId}
		</if>
	</where>
	
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    	select QSTN_ID, QSTN_TITLE, QSTN_INPUT_TIME, qstn.QSTN_TYPE_ID, qstn.QSTN_FROM_TYPE_ID, QSTN_CODE, QSTN_PICTEXT, QSTN_NUM, qstn.SUBJ_SCTN_ID
		,qttype.QSTN_TYPE_NAME , qtfrom.QSTN_FROM_TYPE_CODE  , sctn.SUBJ_SCTN_TITLE 
		,unit.SUBJ_UNIT_TITLE, subj.SUBJ_TITLE, qstn_level
		FROM question qstn
			left JOIN question_type qttype  on qttype.QSTN_TYPE_ID = qstn.QSTN_TYPE_ID
			LEFT JOIN qstn_from_type  qtfrom on qtfrom.QSTN_FROM_TYPE_ID = qstn.QSTN_FROM_TYPE_ID
			LEFT JOIN subj_section sctn on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
			LEFT JOIN subj_unit unit on sctn.SUBJ_UNIT_ID = unit.SUBJ_UNIT_ID
			LEFT JOIN subject_course subj on subj.SUBJ_ID = unit.SUBJ_ID
    where QSTN_ID = #{qstnId,jdbcType=VARCHAR}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from question
    where QSTN_ID = #{qstnId,jdbcType=VARCHAR}
  </delete>
 <insert id="insert" parameterType="com.yuzo.question.entity.Question" >
    insert into question (QSTN_ID, SUBJ_SCTN_ID, QSTN_TYPE_ID, 
      QSTN_FROM_TYPE_ID, QSTN_TITLE, QSTN_INPUT_TIME,  QSTN_CODE,
      QSTN_PICTEXT, QSTN_NUM), qstn_level
    values (#{qstnId,jdbcType=VARCHAR}, #{subjSctnId,jdbcType=VARCHAR}, #{qstnTypeId,jdbcType=VARCHAR}, 
      #{qstnFromTypeId,jdbcType=VARCHAR}, #{qstnTitle,jdbcType=VARCHAR}, #{qstnInputTime,jdbcType=TIMESTAMP},   #{qstnCode,jdbcType=VARCHAR},
      #{qstnPictext,jdbcType=VARCHAR}, #{qstnNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qstnId != null" >
        QSTN_ID,
      </if>
      <if test="subjSctnId != null" >
        SUBJ_SCTN_ID,
      </if>
      <if test="qstnTypeId != null" >
        QSTN_TYPE_ID,
      </if>
      <if test="qstnFromTypeId != null" >
        QSTN_FROM_TYPE_ID,
      </if>
      <if test="qstnTitle != null" >
        QSTN_TITLE,
      </if>
      <if test="qstnInputTime != null" >
        QSTN_INPUT_TIME,
      </if>
      <if test="qstnCode != null   and  qstnCode  != ''  " >
       QSTN_CODE,
      </if>
      <if test="qstnPictext != null" >
        QSTN_PICTEXT,
      </if>
      <if test="qstnNum != null" >
        QSTN_NUM,
      </if>
      <if test="qstnLevel != null" >
        QSTN_LEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qstnId != null" >
        #{qstnId,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnId != null" >
        #{subjSctnId,jdbcType=VARCHAR},
      </if>
      <if test="qstnTypeId != null" >
        #{qstnTypeId,jdbcType=VARCHAR},
      </if>
      <if test="qstnFromTypeId != null" >
        #{qstnFromTypeId,jdbcType=VARCHAR},
      </if>
      <if test="qstnTitle != null" >
        #{qstnTitle,jdbcType=VARCHAR},
      </if>
      <if test="qstnInputTime != null" >
        #{qstnInputTime,jdbcType=TIMESTAMP},
      </if>
       <if test="qstnCode != null   and  qstnCode  != ''  " >
       #{qstnCode,jdbcType=VARCHAR},
      </if>
      <if test="qstnPictext != null" >
        #{qstnPictext,jdbcType=VARCHAR},
      </if>
      <if test="qstnNum != null" >
        #{qstnNum,jdbcType=INTEGER},
      </if>
      <if test="qstnLevel != null" >
        #{qstnLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.Question" >
    update question
    <set >
      <if test="subjSctnId != null" >
        SUBJ_SCTN_ID = #{subjSctnId,jdbcType=VARCHAR},
      </if>
      <if test="qstnTypeId != null" >
        QSTN_TYPE_ID = #{qstnTypeId,jdbcType=VARCHAR},
      </if>
      <if test="qstnFromTypeId != null" >
        QSTN_FROM_TYPE_ID = #{qstnFromTypeId,jdbcType=VARCHAR},
      </if>
      <if test="qstnTitle != null" >
        QSTN_TITLE = #{qstnTitle,jdbcType=VARCHAR},
      </if>
      <if test="qstnInputTime != null" >
        QSTN_INPUT_TIME = #{qstnInputTime,jdbcType=TIMESTAMP},
      </if>
        <if test="qstnCode != null   and  qstnCode  != ''  " >
       QSTN_CODE = #{qstnCode,jdbcType=VARCHAR},
      </if>
      <if test="qstnPictext != null" >
        QSTN_PICTEXT = #{qstnPictext,jdbcType=VARCHAR},
      </if>
      <if test="qstnNum != null" >
        QSTN_NUM = #{qstnNum,jdbcType=INTEGER},
      </if>
       <if test="qstnLevel != null" >
       QSTN_LEVEL =  #{qstnLevel,jdbcType=INTEGER},
     	</if>
    </set>
    where QSTN_ID = #{qstnId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.Question" >
    update question
    set SUBJ_SCTN_ID = #{subjSctnId,jdbcType=VARCHAR},
      QSTN_TYPE_ID = #{qstnTypeId,jdbcType=VARCHAR},
      QSTN_FROM_TYPE_ID = #{qstnFromTypeId,jdbcType=VARCHAR},
      QSTN_TITLE = #{qstnTitle,jdbcType=VARCHAR},
      QSTN_INPUT_TIME = #{qstnInputTime,jdbcType=TIMESTAMP},
       QSTN_CODE = #{qstnCode,jdbcType=VARCHAR},
      QSTN_PICTEXT = #{qstnPictext,jdbcType=VARCHAR},
        QSTN_LEVEL =  #{qstnLevel,jdbcType=INTEGER},
      QSTN_NUM = #{qstnNum,jdbcType=INTEGER}
      
    where QSTN_ID = #{qstnId,jdbcType=VARCHAR}
  </update>
</mapper>