<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.ResourceDataMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.ResourceData" >
    <id column="RSRC_ID" property="rsrcId" jdbcType="VARCHAR" />
    <result column="SUBJ_UNIT_ID" property="subjUnitId" jdbcType="VARCHAR" />
    <result column="RSRC_TYPE_ID" property="rsrcTypeId" jdbcType="VARCHAR" />
    <result column="RSRC_NAME" property="rsrcName" jdbcType="VARCHAR" />
    <result column="RSRC_PATH" property="rsrcPath" jdbcType="VARCHAR" />
    <result column="RSRC_INFO" property="rsrcInfo" jdbcType="VARCHAR" />
    <result column="RSRC_LOGO_URL" property="rsrcLogoUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RSRC_ID, SUBJ_UNIT_ID, RSRC_TYPE_ID, RSRC_NAME, RSRC_PATH, RSRC_INFO, RSRC_LOGO_URL
  </sql>
  <select id="queryAll" resultMap="BaseResultMap"  >
    select 
    RSRC_ID, SUBJ_UNIT_ID, RSRC_TYPE_ID, RSRC_NAME, RSRC_PATH, RSRC_INFO, RSRC_LOGO_URL
    from resource_data
  </select>
  
  <select id="queryRsrcDataByUnit" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    RSRC_ID, SUBJ_UNIT_ID, RSRC_TYPE_ID, RSRC_NAME, RSRC_PATH, RSRC_INFO, RSRC_LOGO_URL
    from resource_data
    where SUBJ_UNIT_ID = #{value}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from resource_data
    where RSRC_ID = #{rsrcId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from resource_data
    where RSRC_ID = #{rsrcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuzo.question.entity.ResourceData" >
    insert into resource_data (RSRC_ID, SUBJ_UNIT_ID, RSRC_TYPE_ID, 
      RSRC_NAME, RSRC_PATH, RSRC_INFO, 
      RSRC_LOGO_URL)
    values (#{rsrcId,jdbcType=VARCHAR}, #{subjUnitId,jdbcType=VARCHAR}, #{rsrcTypeId,jdbcType=VARCHAR}, 
      #{rsrcName,jdbcType=VARCHAR}, #{rsrcPath,jdbcType=VARCHAR}, #{rsrcInfo,jdbcType=VARCHAR}, 
      #{rsrcLogoUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.ResourceData" >
    insert into resource_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rsrcId != null" >
        RSRC_ID,
      </if>
      <if test="subjUnitId != null" >
        SUBJ_UNIT_ID,
      </if>
      <if test="rsrcTypeId != null" >
        RSRC_TYPE_ID,
      </if>
      <if test="rsrcName != null" >
        RSRC_NAME,
      </if>
      <if test="rsrcPath != null" >
        RSRC_PATH,
      </if>
      <if test="rsrcInfo != null" >
        RSRC_INFO,
      </if>
      <if test="rsrcLogoUrl != null" >
        RSRC_LOGO_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rsrcId != null" >
        #{rsrcId,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitId != null" >
        #{subjUnitId,jdbcType=VARCHAR},
      </if>
      <if test="rsrcTypeId != null" >
        #{rsrcTypeId,jdbcType=VARCHAR},
      </if>
      <if test="rsrcName != null" >
        #{rsrcName,jdbcType=VARCHAR},
      </if>
      <if test="rsrcPath != null" >
        #{rsrcPath,jdbcType=VARCHAR},
      </if>
      <if test="rsrcInfo != null" >
        #{rsrcInfo,jdbcType=VARCHAR},
      </if>
      <if test="rsrcLogoUrl != null" >
        #{rsrcLogoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.ResourceData" >
    update resource_data
    <set >
      <if test="subjUnitId != null" >
        SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR},
      </if>
      <if test="rsrcTypeId != null" >
        RSRC_TYPE_ID = #{rsrcTypeId,jdbcType=VARCHAR},
      </if>
      <if test="rsrcName != null" >
        RSRC_NAME = #{rsrcName,jdbcType=VARCHAR},
      </if>
      <if test="rsrcPath != null" >
        RSRC_PATH = #{rsrcPath,jdbcType=VARCHAR},
      </if>
      <if test="rsrcInfo != null" >
        RSRC_INFO = #{rsrcInfo,jdbcType=VARCHAR},
      </if>
      <if test="rsrcLogoUrl != null" >
        RSRC_LOGO_URL = #{rsrcLogoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where RSRC_ID = #{rsrcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.ResourceData" >
    update resource_data
    set SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR},
      RSRC_TYPE_ID = #{rsrcTypeId,jdbcType=VARCHAR},
      RSRC_NAME = #{rsrcName,jdbcType=VARCHAR},
      RSRC_PATH = #{rsrcPath,jdbcType=VARCHAR},
      RSRC_INFO = #{rsrcInfo,jdbcType=VARCHAR},
      RSRC_LOGO_URL = #{rsrcLogoUrl,jdbcType=VARCHAR}
    where RSRC_ID = #{rsrcId,jdbcType=VARCHAR}
  </update>
</mapper>