<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.StuCrseListMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.StuCrseList" >
    <id column="scl_id" property="sclId" jdbcType="VARCHAR" />
    <result column="sct_id" property="sctId" jdbcType="VARCHAR" />
    <result column="QSTN_ID" property="qstnId" jdbcType="VARCHAR" />
    <result column="scl_content" property="sclContent" jdbcType="VARCHAR" />
    <result column="scl_result" property="sclResult" jdbcType="VARCHAR" />
    
    <result column="QSTN_TITLE" property="qstnTitle" jdbcType="VARCHAR" />
    <result column="QSTN_TYPE_ID" property="qstnTypeId" jdbcType="VARCHAR" />
    <result column="QSTN_CODE" property="qstnCode" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_ID" property="subjSctnId" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    scl_id, sct_id, QSTN_ID, scl_content, scl_result
  </sql>
  
  <select id="queryByCrseAndUser" resultMap="BaseResultMap"  >
    select 
     scl_id, scl.sct_id, scl.QSTN_ID, scl_content, scl_result
     , qstn.QSTN_TITLE, qstn.QSTN_CODE
     , qstn.SUBJ_SCTN_ID, sctn.SUBJ_SCTN_TITLE
    from stu_crse_list  scl 
    	left join question qstn  on scl.QSTN_ID = qstn.QSTN_ID
    	left join subj_section sctn  on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
    	left join stu_crse_test sct on sct.sct_id = scl.sct_id
    
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and  sct.user_id = #{userId,jdbcType=VARCHAR}
   
  </select>
 
 
  
  
   <!-- list<sctn>   -->
  <select id="querySctnIdsByCrseAndMc"   resultType="string" >
  
       SELECT 
    	qstn.SUBJ_SCTN_ID
    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id  
   
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID

    	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR} 
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
     GROUP BY qstn.SUBJ_SCTN_ID	  		   
  </select>
  
  
  <!-- totalSctnCount   -->
  <select id="totalSctnCount"   resultType="int" >
  
    SELECT  count(*)    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id     
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID   	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and qstn.SUBJ_SCTN_ID = #{sctnId,jdbcType=VARCHAR}
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
     		   
  </select>
  
  <!-- totalSctnYesByMc   -->
  <select id="totalSctnYesByMc"   resultType="int" >
  
    SELECT  count(*)    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id     
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID   	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and qstn.SUBJ_SCTN_ID = #{sctnId,jdbcType=VARCHAR}
    	 and uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
    	 and scl.scl_result != '0'
     		   
  </select>
  
  <!-- totalSctnNo   -->
  <select id="totalSctnNo"   resultType="int" >
  
    SELECT  count(*)    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id     
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID   	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and qstn.SUBJ_SCTN_ID = #{sctnId,jdbcType=VARCHAR}
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
     	 and scl.scl_result = '0'	   
  </select>
  
  
  
  
  
  <!-- list<unit>   -->
  <select id="queryUnitIdsByCrseAndMc"   resultType="string" >
  
       SELECT 
    	sctn.SUBJ_UNIT_ID
    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id  
   
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
    	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR} 
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
     GROUP BY sctn.SUBJ_UNIT_ID	  		   
  </select>
  
  
  <!-- totalUnitCount   -->
  <select id="totalUnitCount"   resultType="int" >
  
    SELECT  count(*)    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id     
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID   	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and sctn.SUBJ_UNIT_ID = #{unitId,jdbcType=VARCHAR}
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
     		   
  </select>
  
  <!-- totalUnitYes   -->
  <select id="totalUnitYes"   resultType="int" >
  
    SELECT  count(*)    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id     
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID   	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and sctn.SUBJ_UNIT_ID = #{unitId,jdbcType=VARCHAR}
    	 and uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
    	 and scl.scl_result != '0'
     		   
  </select>
  
  <!-- totalUnitNo   -->
  <select id="totalUnitNo"   resultType="int" >
  
    SELECT  count(*)    	
    FROM stu_crse_list  scl    	
    	LEFT JOIN stu_crse_test sct ON sct.sct_id = scl.sct_id
    	LEFT JOIN user_class_history uch ON uch.user_id = sct.user_id     
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID   	
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and sctn.SUBJ_UNIT_ID = #{unitId,jdbcType=VARCHAR}
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
     	 and scl.scl_result = '0'	   
  </select>

  
  <!-- list   -->
  <select id="queryByCrseAndMc"   resultMap="BaseResultMap" >
  
    select 
    	scl_id, scl.sct_id, scl.QSTN_ID, scl_content, scl_result
    	, u.nick_name , qstn.QSTN_TYPE_ID 
    from stu_crse_list  scl    	
    	left join stu_crse_test sct on sct.sct_id = scl.sct_id
    	left join user_class_history uch on uch.user_id = sct.user_id  
    	left join sys_user u  on u.user_id =   sct.user_id  
    	left join question qstn on qstn.QSTN_ID = scl.QSTN_ID
    where sct.crse_id = #{crseId,jdbcType=VARCHAR} and scl.QSTN_ID = #{qstnId,jdbcType=VARCHAR}  
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'  
    	  		   
  </select>
  
  <!-- count querySclCountByCrseAndUser  -->
  <select id="querySclCountByCrseAndUser"  resultType="map"  >
    select 
    count(*) qstn_count,sctn.SUBJ_SCTN_ID,sctn.SUBJ_SCTN_TITLE
    from stu_crse_list  scl    	
    	left join stu_crse_test sct on sct.sct_id = scl.sct_id   	
    	LEFT JOIN question qstn ON qstn.QSTN_ID = scl.QSTN_ID
    	LEFT JOIN subj_section  sctn  ON sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID    
    where sct.crse_id = #{crseId,jdbcType=VARCHAR} and sct.user_id = #{userId,jdbcType=VARCHAR}
    group by sctn.SUBJ_SCTN_ID,sctn.SUBJ_SCTN_TITLE 
    		   
  </select>
  
  <!-- count  -->
  <select id="queryCountByCrseAndUser"  resultType="int"  >
    select 
    count(*)
    from stu_crse_list  scl    	
    	left join stu_crse_test sct on sct.sct_id = scl.sct_id
    	left join user_class_history uch on uch.user_id = sct.user_id   
    where sct.crse_id = #{crseId,jdbcType=VARCHAR} and scl.QSTN_ID = #{qstnId,jdbcType=VARCHAR}
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'
    		   
  </select>
  
  <!-- yes   -->
  <select id="queryYesCountByCrseAndUser"  resultType="int"  >
    select 
    count(*)
    from stu_crse_list  scl    	
    	left join stu_crse_test sct on sct.sct_id = scl.sct_id
    	left join user_class_history uch on uch.user_id = sct.user_id   
    where sct.crse_id = #{crseId,jdbcType=VARCHAR} and scl.QSTN_ID = #{qstnId,jdbcType=VARCHAR}
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'
    	 and scl.scl_result != '0'
   
  </select>
  
  <!-- no   -->
  <select id="queryNoCountByCrseAndUser" resultType="int"  >
    
     select 
    count(*)
    from stu_crse_list  scl    	
    	left join stu_crse_test sct on sct.sct_id = scl.sct_id
    	left join user_class_history uch on uch.user_id = sct.user_id   
    where sct.crse_id = #{crseId,jdbcType=VARCHAR} and scl.QSTN_ID = #{qstnId,jdbcType=VARCHAR}
    	 and  uch.mc_id = #{mcId,jdbcType=VARCHAR}  and uch.uc_state = '1'
    	 and scl.scl_result = '0'   
  </select>
  
  <select id="totalSctnYes" resultType="int"  >
    select 
	 count(*) 
     
    from stu_crse_list  scl 
    	left join question qstn  on scl.QSTN_ID = qstn.QSTN_ID
    	left join subj_section sctn  on sctn.SUBJ_SCTN_ID = qstn.SUBJ_SCTN_ID
    	left join stu_crse_test sct on sct.sct_id = scl.sct_id
    
    where sct.crse_id = #{crseId,jdbcType=VARCHAR}  and  sct.user_id = #{userId,jdbcType=VARCHAR}
    	and scl_result != '0'  and qstn.SUBJ_SCTN_ID = #{sctnId,jdbcType=VARCHAR}
      
  </select>
  
  <select id="queryStuCrseListByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     scl_id, sct_id, scl.QSTN_ID, scl_content, scl_result
     ,qstn.QSTN_TITLE, qstn.QSTN_CODE, qstn.SUBJ_SCTN_ID
    from stu_crse_list  scl left join question qstn  on scl.QSTN_ID = qstn.QSTN_ID
    where sct_id = #{sctId,jdbcType=VARCHAR}  and  qstn.QSTN_TYPE_ID = #{type,jdbcType=VARCHAR}
    order by  qstn.QSTN_CODE
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from stu_crse_list
    where scl_id = #{sclId,jdbcType=VARCHAR}
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from stu_crse_list
    where scl_id = #{sclId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuzo.question.entity.StuCrseList" >
    insert into stu_crse_list (scl_id, sct_id, QSTN_ID, 
      scl_content, scl_result)
    values (#{sclId,jdbcType=VARCHAR}, #{sctId,jdbcType=VARCHAR}, #{qstnId,jdbcType=VARCHAR}, 
      #{sclContent,jdbcType=VARCHAR}, #{sclResult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.StuCrseList" >
    insert into stu_crse_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sclId != null" >
        scl_id,
      </if>
      <if test="sctId != null" >
        sct_id,
      </if>
      <if test="qstnId != null" >
        QSTN_ID,
      </if>
      <if test="sclContent != null" >
        scl_content,
      </if>
      <if test="sclResult != null" >
        scl_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sclId != null" >
        #{sclId,jdbcType=VARCHAR},
      </if>
      <if test="sctId != null" >
        #{sctId,jdbcType=VARCHAR},
      </if>
      <if test="qstnId != null" >
        #{qstnId,jdbcType=VARCHAR},
      </if>
      <if test="sclContent != null" >
        #{sclContent,jdbcType=VARCHAR},
      </if>
      <if test="sclResult != null" >
        #{sclResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.StuCrseList" >
    update stu_crse_list
    <set >
      <if test="sctId != null" >
        sct_id = #{sctId,jdbcType=VARCHAR},
      </if>
      <if test="qstnId != null" >
        QSTN_ID = #{qstnId,jdbcType=VARCHAR},
      </if>
      <if test="sclContent != null" >
        scl_content = #{sclContent,jdbcType=VARCHAR},
      </if>
      <if test="sclResult != null" >
        scl_result = #{sclResult,jdbcType=VARCHAR},
      </if>
    </set>
    where scl_id = #{sclId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.StuCrseList" >
    update stu_crse_list
    set sct_id = #{sctId,jdbcType=VARCHAR},
      QSTN_ID = #{qstnId,jdbcType=VARCHAR},
      scl_content = #{sclContent,jdbcType=VARCHAR},
      scl_result = #{sclResult,jdbcType=VARCHAR}
    where scl_id = #{sclId,jdbcType=VARCHAR}
  </update>
</mapper>