<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.SubjSectionMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.SubjSection" >
    <id column="SUBJ_SCTN_ID" property="subjSctnId" jdbcType="VARCHAR" />
    <result column="SUBJ_UNIT_ID" property="subjUnitId" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_TITLE" property="subjSctnTitle" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_NUM" property="subjSctnNum" jdbcType="INTEGER" />
    <result column="SUBJ_SCTN_CODE" property="subjSctnCode" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_INFO" property="subjSctnInfo" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_LOGO_URL" property="subjSctnLogoUrl" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_VIDEO_URL" property="subjSctnVideoUrl" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_PIC_TEXT" property="subjSctnPicText" jdbcType="VARCHAR" />
    <result column="SUBJ_SCTN_VIDEO_LEN" property="subjSctnVideoLen" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SUBJ_SCTN_ID, SUBJ_UNIT_ID, SUBJ_SCTN_TITLE, SUBJ_SCTN_NUM, SUBJ_SCTN_CODE, SUBJ_SCTN_INFO, 
    SUBJ_SCTN_LOGO_URL, SUBJ_SCTN_VIDEO_URL, SUBJ_SCTN_PIC_TEXT, SUBJ_SCTN_VIDEO_LEN
  </sql>
  
  <select id="queryAllByTchId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    SUBJ_SCTN_ID, sctn.SUBJ_UNIT_ID, SUBJ_SCTN_TITLE, SUBJ_SCTN_NUM, SUBJ_SCTN_CODE, SUBJ_SCTN_INFO, 
    SUBJ_SCTN_LOGO_URL, SUBJ_SCTN_VIDEO_URL, SUBJ_SCTN_PIC_TEXT, SUBJ_SCTN_VIDEO_LEN
    ,tch.tch_name ,tch.TCH_ID
    from subj_section sctn left join subj_unit su on sctn.SUBJ_UNIT_ID = su.SUBJ_UNIT_ID
    left join teacher tch  on su.TCH_ID = tch.TCH_ID
    where tch.TCH_ID = #{value,jdbcType=VARCHAR}
    order by su.SUBJ_UNIT_NUM ,SUBJ_SCTN_NUM
  </select>
  
  
  <select id="queryByUnit" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    SUBJ_SCTN_ID, SUBJ_UNIT_ID, SUBJ_SCTN_TITLE, SUBJ_SCTN_NUM, SUBJ_SCTN_CODE, SUBJ_SCTN_INFO, 
    SUBJ_SCTN_LOGO_URL, SUBJ_SCTN_VIDEO_URL, SUBJ_SCTN_PIC_TEXT, SUBJ_SCTN_VIDEO_LEN
    from subj_section
    where SUBJ_UNIT_ID = #{value,jdbcType=VARCHAR}
  </select>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from subj_section
    where SUBJ_SCTN_ID = #{subjSctnId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from subj_section
    where SUBJ_SCTN_ID = #{subjSctnId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuzo.question.entity.SubjSection" >
    insert into subj_section (SUBJ_SCTN_ID, SUBJ_UNIT_ID, SUBJ_SCTN_TITLE, 
      SUBJ_SCTN_NUM, SUBJ_SCTN_CODE, SUBJ_SCTN_INFO, 
      SUBJ_SCTN_LOGO_URL, SUBJ_SCTN_VIDEO_URL, SUBJ_SCTN_PIC_TEXT, 
      SUBJ_SCTN_VIDEO_LEN)
    values (#{subjSctnId,jdbcType=VARCHAR}, #{subjUnitId,jdbcType=VARCHAR}, #{subjSctnTitle,jdbcType=VARCHAR}, 
      #{subjSctnNum,jdbcType=INTEGER}, #{subjSctnCode,jdbcType=VARCHAR}, #{subjSctnInfo,jdbcType=VARCHAR}, 
      #{subjSctnLogoUrl,jdbcType=VARCHAR}, #{subjSctnVideoUrl,jdbcType=VARCHAR}, #{subjSctnPicText,jdbcType=VARCHAR}, 
      #{subjSctnVideoLen,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.SubjSection" >
    insert into subj_section
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjSctnId != null" >
        SUBJ_SCTN_ID,
      </if>
      <if test="subjUnitId != null" >
        SUBJ_UNIT_ID,
      </if>
      <if test="subjSctnTitle != null" >
        SUBJ_SCTN_TITLE,
      </if>
      <if test="subjSctnNum != null" >
        SUBJ_SCTN_NUM,
      </if>
      <if test="subjSctnCode != null" >
        SUBJ_SCTN_CODE,
      </if>
      <if test="subjSctnInfo != null" >
        SUBJ_SCTN_INFO,
      </if>
      <if test="subjSctnLogoUrl != null" >
        SUBJ_SCTN_LOGO_URL,
      </if>
      <if test="subjSctnVideoUrl != null" >
        SUBJ_SCTN_VIDEO_URL,
      </if>
      <if test="subjSctnPicText != null" >
        SUBJ_SCTN_PIC_TEXT,
      </if>
      <if test="subjSctnVideoLen != null" >
        SUBJ_SCTN_VIDEO_LEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjSctnId != null" >
        #{subjSctnId,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitId != null" >
        #{subjUnitId,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnTitle != null" >
        #{subjSctnTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnNum != null" >
        #{subjSctnNum,jdbcType=INTEGER},
      </if>
      <if test="subjSctnCode != null" >
        #{subjSctnCode,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnInfo != null" >
        #{subjSctnInfo,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnLogoUrl != null" >
        #{subjSctnLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnVideoUrl != null" >
        #{subjSctnVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnPicText != null" >
        #{subjSctnPicText,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnVideoLen != null" >
        #{subjSctnVideoLen,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.SubjSection" >
    update subj_section
    <set >
      <if test="subjUnitId != null" >
        SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnTitle != null" >
        SUBJ_SCTN_TITLE = #{subjSctnTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnNum != null" >
        SUBJ_SCTN_NUM = #{subjSctnNum,jdbcType=INTEGER},
      </if>
      <if test="subjSctnCode != null" >
        SUBJ_SCTN_CODE = #{subjSctnCode,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnInfo != null" >
        SUBJ_SCTN_INFO = #{subjSctnInfo,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnLogoUrl != null" >
        SUBJ_SCTN_LOGO_URL = #{subjSctnLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnVideoUrl != null" >
        SUBJ_SCTN_VIDEO_URL = #{subjSctnVideoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnPicText != null" >
        SUBJ_SCTN_PIC_TEXT = #{subjSctnPicText,jdbcType=VARCHAR},
      </if>
      <if test="subjSctnVideoLen != null" >
        SUBJ_SCTN_VIDEO_LEN = #{subjSctnVideoLen,jdbcType=INTEGER},
      </if>
    </set>
    where SUBJ_SCTN_ID = #{subjSctnId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.SubjSection" >
    update subj_section
    set SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR},
      SUBJ_SCTN_TITLE = #{subjSctnTitle,jdbcType=VARCHAR},
      SUBJ_SCTN_NUM = #{subjSctnNum,jdbcType=INTEGER},
      SUBJ_SCTN_CODE = #{subjSctnCode,jdbcType=VARCHAR},
      SUBJ_SCTN_INFO = #{subjSctnInfo,jdbcType=VARCHAR},
      SUBJ_SCTN_LOGO_URL = #{subjSctnLogoUrl,jdbcType=VARCHAR},
      SUBJ_SCTN_VIDEO_URL = #{subjSctnVideoUrl,jdbcType=VARCHAR},
      SUBJ_SCTN_PIC_TEXT = #{subjSctnPicText,jdbcType=VARCHAR},
      SUBJ_SCTN_VIDEO_LEN = #{subjSctnVideoLen,jdbcType=INTEGER}
    where SUBJ_SCTN_ID = #{subjSctnId,jdbcType=VARCHAR}
  </update>
</mapper>