<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.SubjectCourseMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.SubjectCourse" >
    <id column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="SUBJ_TITLE" property="subjTitle" jdbcType="VARCHAR" />
    <result column="SUBJ_NUM" property="subjNum" jdbcType="INTEGER" />
    <result column="SUBJ_CODE" property="subjCode" jdbcType="VARCHAR" />
    <result column="SUBJ_LOGO_URL" property="subjLogoUrl" jdbcType="VARCHAR" />
    <result column="SUBJ_INFO" property="subjInfo" jdbcType="VARCHAR" />
    <result column="SUBJ_PROGRESS" property="subjProgress" jdbcType="INTEGER" />
    <result column="SUBJ_COUNT" property="subjCount" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    SUBJ_ID, SUBJ_TITLE, SUBJ_NUM, SUBJ_CODE, SUBJ_LOGO_URL, SUBJ_INFO, SUBJ_PROGRESS, SUBJ_COUNT
  </sql>
  
  <select id="queryAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from subject_course
    order by SUBJ_NUM
  </select>
  
  
  <select id="queryByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from subject_course
    where SUBJ_CODE = #{value}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from subject_course
    where SUBJ_ID = #{subjId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from subject_course
    where SUBJ_ID = #{subjId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuzo.question.entity.SubjectCourse" >
    insert into subject_course (SUBJ_ID, SUBJ_TITLE, SUBJ_NUM, 
      SUBJ_CODE, SUBJ_LOGO_URL, SUBJ_INFO, 
      SUBJ_PROGRESS)
    values (#{subjId,jdbcType=VARCHAR}, #{subjTitle,jdbcType=VARCHAR}, #{subjNum,jdbcType=INTEGER}, 
      #{subjCode,jdbcType=VARCHAR}, #{subjLogoUrl,jdbcType=VARCHAR}, #{subjInfo,jdbcType=VARCHAR}, 
      #{subjProgress,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.SubjectCourse" >
    insert into subject_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjId != null" >
        SUBJ_ID,
      </if>
      <if test="subjTitle != null" >
        SUBJ_TITLE,
      </if>
      <if test="subjNum != null" >
        SUBJ_NUM,
      </if>
      <if test="subjCode != null" >
        SUBJ_CODE,
      </if>
      <if test="subjLogoUrl != null" >
        SUBJ_LOGO_URL,
      </if>
      <if test="subjInfo != null" >
        SUBJ_INFO,
      </if>
      <if test="subjProgress != null" >
        SUBJ_PROGRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjId != null" >
        #{subjId,jdbcType=VARCHAR},
      </if>
      <if test="subjTitle != null" >
        #{subjTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjNum != null" >
        #{subjNum,jdbcType=INTEGER},
      </if>
      <if test="subjCode != null" >
        #{subjCode,jdbcType=VARCHAR},
      </if>
      <if test="subjLogoUrl != null" >
        #{subjLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjInfo != null" >
        #{subjInfo,jdbcType=VARCHAR},
      </if>
      <if test="subjProgress != null" >
        #{subjProgress,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.SubjectCourse" >
    update subject_course
    <set >
      <if test="subjTitle != null" >
        SUBJ_TITLE = #{subjTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjNum != null" >
        SUBJ_NUM = #{subjNum,jdbcType=INTEGER},
      </if>
      <if test="subjCode != null" >
        SUBJ_CODE = #{subjCode,jdbcType=VARCHAR},
      </if>
      <if test="subjLogoUrl != null" >
        SUBJ_LOGO_URL = #{subjLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="subjInfo != null" >
        SUBJ_INFO = #{subjInfo,jdbcType=VARCHAR},
      </if>
      <if test="subjProgress != null" >
        SUBJ_PROGRESS = #{subjProgress,jdbcType=INTEGER},
      </if>
      <if test="subjCount != null" >
        SUBJ_COUNT = #{subjCount,jdbcType=INTEGER},
      </if>
    </set>
    where SUBJ_ID = #{subjId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.SubjectCourse" >
    update subject_course
    set SUBJ_TITLE = #{subjTitle,jdbcType=VARCHAR},
      SUBJ_NUM = #{subjNum,jdbcType=INTEGER},
      SUBJ_CODE = #{subjCode,jdbcType=VARCHAR},
      SUBJ_LOGO_URL = #{subjLogoUrl,jdbcType=VARCHAR},
      SUBJ_INFO = #{subjInfo,jdbcType=VARCHAR},
      SUBJ_PROGRESS = #{subjProgress,jdbcType=INTEGER}
    where SUBJ_ID = #{subjId,jdbcType=VARCHAR}
  </update>
</mapper>