<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.SubjUnitMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.SubjUnit" >
    <id column="SUBJ_UNIT_ID" property="subjUnitId" jdbcType="VARCHAR" />
    <result column="SUBJ_ID" property="subjId" jdbcType="VARCHAR" />
    <result column="TCH_ID" property="tchId" jdbcType="VARCHAR" />
    <result column="SUBJ_UNIT_TITLE" property="subjUnitTitle" jdbcType="VARCHAR" />
    <result column="SUBJ_UNIT_NUM" property="subjUnitNum" jdbcType="INTEGER" />
    <result column="SUBJ_UNIT_CODE" property="subjUnitCode" jdbcType="VARCHAR" />
    <result column="SUBJ_UNIT_INFO" property="subjUnitInfo" jdbcType="VARCHAR" />
    <result column="SUBJ_UNIT_LOGO_URL" property="subjUnitLogoUrl" jdbcType="VARCHAR" />
    
    <result column="TCH_NAME" property="tchName" jdbcType="VARCHAR" />
    <result column="SUBJ_TITLE" property="subjTitle" jdbcType="VARCHAR" />
    
     <result column="UNIT_COUNT" property="unitCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SUBJ_UNIT_ID, SUBJ_ID, TCH_ID, SUBJ_UNIT_TITLE, SUBJ_UNIT_NUM, SUBJ_UNIT_CODE, SUBJ_UNIT_INFO, 
    SUBJ_UNIT_LOGO_URL  , UNIT_COUNT
  </sql>
  
  
  <!-- queryByTchId   -->
    <select id="queryByTchId" resultMap="BaseResultMap"  parameterType="string" >
	    select SUBJ_UNIT_ID, su.SUBJ_ID, su.TCH_ID, SUBJ_UNIT_TITLE, SUBJ_UNIT_NUM, SUBJ_UNIT_CODE, SUBJ_UNIT_INFO, SUBJ_UNIT_LOGO_URL , UNIT_COUNT
	    , tch.TCH_NAME
	    , sc.SUBJ_TITLE
	    from subj_unit  su left join teacher tch  on su.TCH_ID = tch.TCH_ID
	    left join subject_course sc  on su.SUBJ_ID = sc.SUBJ_ID
	    where tch.TCH_ID = #{value}
	    order by SUBJ_UNIT_NUM
	</select>
	
	
	  <!-- querypage  分页 -->
    <select id="queryPage" resultMap="BaseResultMap" parameterType="com.yuzo.question.page.SubjUnitPage"  >
	    select SUBJ_UNIT_ID, su.SUBJ_ID, su.TCH_ID, SUBJ_UNIT_TITLE, SUBJ_UNIT_NUM, SUBJ_UNIT_CODE, SUBJ_UNIT_INFO, SUBJ_UNIT_LOGO_URL , UNIT_COUNT
	    , tch.TCH_NAME
	    , sc.SUBJ_TITLE
	    from subj_unit  su left join teacher tch  on su.TCH_ID = tch.TCH_ID
	    left join subject_course sc  on su.SUBJ_ID = sc.SUBJ_ID
	    <where>
	    	<if test="subjId != null  and subjId != '' ">
	    		and su.SUBJ_ID = #{subjId}
	    	</if>
	    </where>
	    order by sc.SUBJ_NUM, SUBJ_UNIT_NUM
	</select>
	
	  <!-- queryAll  全查 -->
    <select id="queryAll" resultMap="BaseResultMap"  >
	    select SUBJ_UNIT_ID, su.SUBJ_ID, su.TCH_ID, SUBJ_UNIT_TITLE, SUBJ_UNIT_NUM, SUBJ_UNIT_CODE, SUBJ_UNIT_INFO, SUBJ_UNIT_LOGO_URL , UNIT_COUNT
	    , tch.TCH_NAME
	    , sc.SUBJ_TITLE
	    from subj_unit  su left join teacher tch  on su.TCH_ID = tch.TCH_ID
	    left join subject_course sc  on su.SUBJ_ID = sc.SUBJ_ID
	    order by sc.SUBJ_NUM, SUBJ_UNIT_NUM
	</select>
	
	
  <!-- queryUnitsBySubjs  根据科目 -->
    <select id="queryUnitsBySubjs" resultMap="BaseResultMap"  >
	    select SUBJ_UNIT_ID, su.SUBJ_ID, su.TCH_ID, SUBJ_UNIT_TITLE, SUBJ_UNIT_NUM, SUBJ_UNIT_CODE, SUBJ_UNIT_INFO, SUBJ_UNIT_LOGO_URL , UNIT_COUNT
	    , tch.TCH_NAME
	    , sc.SUBJ_TITLE
	    from subj_unit  su left join teacher tch  on su.TCH_ID = tch.TCH_ID
	    left join subject_course sc  on su.SUBJ_ID = sc.SUBJ_ID
	  	<where>
	  		<if test="array != null ">
	  			<foreach collection="array"  item="subjId"  open="  and  su.SUBJ_ID in ("  close=")" separator="," >#{subjId}</foreach>
	  		</if>
	  	</where>
	    order by sc.SUBJ_NUM, SUBJ_UNIT_NUM
	</select>
	
    <!-- queryAll  全查 -->
    <select id="queryBySubj" resultMap="BaseResultMap"  parameterType="string" >
	    select SUBJ_UNIT_ID, su.SUBJ_ID, su.TCH_ID, SUBJ_UNIT_TITLE, SUBJ_UNIT_NUM, SUBJ_UNIT_CODE, SUBJ_UNIT_INFO, SUBJ_UNIT_LOGO_URL , UNIT_COUNT
	    , tch.TCH_NAME
	    , sc.SUBJ_TITLE
	    from subj_unit  su left join teacher tch  on su.TCH_ID = tch.TCH_ID
	    left join subject_course sc  on su.SUBJ_ID = sc.SUBJ_ID
	    where su.SUBJ_ID = #{value}
	    order by SUBJ_UNIT_NUM
	</select>
  <!--  分割    -->
  
  <select id="queryByCode" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from subj_unit
    where SUBJ_UNIT_CODE = #{unitCode,jdbcType=VARCHAR}  and SUBJ_ID = #{subjId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from subj_unit
    where SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from subj_unit
    where SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuzo.question.entity.SubjUnit" >
    insert into subj_unit (SUBJ_UNIT_ID, SUBJ_ID, TCH_ID, 
      SUBJ_UNIT_TITLE, SUBJ_UNIT_NUM, SUBJ_UNIT_CODE, 
      SUBJ_UNIT_INFO, SUBJ_UNIT_LOGO_URL)
    values (#{subjUnitId,jdbcType=VARCHAR}, #{subjId,jdbcType=VARCHAR}, #{tchId,jdbcType=VARCHAR}, 
      #{subjUnitTitle,jdbcType=VARCHAR}, #{subjUnitNum,jdbcType=INTEGER}, #{subjUnitCode,jdbcType=VARCHAR}, 
      #{subjUnitInfo,jdbcType=VARCHAR}, #{subjUnitLogoUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.SubjUnit" >
    insert into subj_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjUnitId != null" >
        SUBJ_UNIT_ID,
      </if>
      <if test="subjId != null" >
        SUBJ_ID,
      </if>
      <if test="tchId != null" >
        TCH_ID,
      </if>
      <if test="subjUnitTitle != null" >
        SUBJ_UNIT_TITLE,
      </if>
      <if test="subjUnitNum != null" >
        SUBJ_UNIT_NUM,
      </if>
      <if test="subjUnitCode != null" >
        SUBJ_UNIT_CODE,
      </if>
      <if test="subjUnitInfo != null" >
        SUBJ_UNIT_INFO,
      </if>
      <if test="subjUnitLogoUrl != null" >
        SUBJ_UNIT_LOGO_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjUnitId != null" >
        #{subjUnitId,jdbcType=VARCHAR},
      </if>
      <if test="subjId != null" >
        #{subjId,jdbcType=VARCHAR},
      </if>
      <if test="tchId != null" >
        #{tchId,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitTitle != null" >
        #{subjUnitTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitNum != null" >
        #{subjUnitNum,jdbcType=INTEGER},
      </if>
      <if test="subjUnitCode != null" >
        #{subjUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitInfo != null" >
        #{subjUnitInfo,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitLogoUrl != null" >
        #{subjUnitLogoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.SubjUnit" >
    update subj_unit
    <set >
      <if test="subjId != null" >
        SUBJ_ID = #{subjId,jdbcType=VARCHAR},
      </if>
      <if test="tchId != null" >
        TCH_ID = #{tchId,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitTitle != null" >
        SUBJ_UNIT_TITLE = #{subjUnitTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitNum != null" >
        SUBJ_UNIT_NUM = #{subjUnitNum,jdbcType=INTEGER},
      </if>
      <if test="subjUnitCode != null" >
        SUBJ_UNIT_CODE = #{subjUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitInfo != null" >
        SUBJ_UNIT_INFO = #{subjUnitInfo,jdbcType=VARCHAR},
      </if>
      <if test="subjUnitLogoUrl != null" >
        SUBJ_UNIT_LOGO_URL = #{subjUnitLogoUrl,jdbcType=VARCHAR},
      </if>
        <if test="unitCount != null" >
        UNIT_COUNT = #{unitCount,jdbcType=INTEGER},
      </if>
    </set>
    where SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.SubjUnit" >
    update subj_unit
    set SUBJ_ID = #{subjId,jdbcType=VARCHAR},
      TCH_ID = #{tchId,jdbcType=VARCHAR},
      SUBJ_UNIT_TITLE = #{subjUnitTitle,jdbcType=VARCHAR},
      SUBJ_UNIT_NUM = #{subjUnitNum,jdbcType=INTEGER},
      SUBJ_UNIT_CODE = #{subjUnitCode,jdbcType=VARCHAR},
      SUBJ_UNIT_INFO = #{subjUnitInfo,jdbcType=VARCHAR},
      SUBJ_UNIT_LOGO_URL = #{subjUnitLogoUrl,jdbcType=VARCHAR}
    where SUBJ_UNIT_ID = #{subjUnitId,jdbcType=VARCHAR}
  </update>
</mapper>