<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.SysMenu" >
    <id column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_islink" property="menuIslink" jdbcType="VARCHAR" />
    <result column="menu_sequ" property="menuSequ" jdbcType="INTEGER" />
    <result column="menu_pare" property="menuPare" jdbcType="VARCHAR" />
    <result column="menu_state" property="menuState" jdbcType="VARCHAR" />
    <result column="menu_info" property="menuInfo" jdbcType="VARCHAR" />
    <result column="menu_ico" property="menuIco" jdbcType="VARCHAR" />
    <result column="pmenu_name" property="pmenuName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_url, menu_name, menu_islink, menu_sequ, menu_pare, menu_state, menu_info, 
    menu_ico
  </sql>
  
  <select id="queryPar" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_islink = '0'
    order by menu_sequ
  </select>
  
  <select id="queryParMenu" resultMap="BaseResultMap"   parameterType="java.lang.String" >
   select distinct
    p.menu_id, p.menu_url, p.menu_name, p.menu_islink, p.menu_sequ, p.menu_pare, p.menu_state, p.menu_info, p.menu_ico
    from sys_menu p  
    		left join sys_role_menu  rm   on p.menu_id = rm.menu_id 
    		left join sys_user_role  ur   on rm.role_id = ur.role_id
    where p.menu_islink = '0' and ur.user_id = #{value}
    order by p.menu_sequ
  </select>
  
  <select id="queryChdMenu" resultMap="BaseResultMap"   >
   select distinct
    p.menu_id, p.menu_url, p.menu_name, p.menu_islink, p.menu_sequ, p.menu_pare, p.menu_state, p.menu_info, p.menu_ico
    from sys_menu p  
    		left join sys_role_menu  rm   on p.menu_id = rm.menu_id 
    		left join sys_user_role  ur   on rm.role_id = ur.role_id
    where p.menu_islink = '1' and ur.user_id = #{userId}  and p.menu_pare = #{menuId}
    order by p.menu_sequ
  </select>
  

  
  <select id="queryChd" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
     c.menu_id, c.menu_url, c.menu_name, c.menu_islink, c.menu_sequ, c.menu_pare, c.menu_state, c.menu_info, c.menu_ico
     ,p.menu_name pmenu_name
    from sys_menu  c  left join sys_menu p  on c.menu_pare = p.menu_id
    <where>
    	and  c.menu_islink = '1'
    	<if test="value != null  and  value != '' ">
    	 	and c.menu_pare =  #{value}
    	</if>
    </where> 
    order by c.menu_sequ
  </select>
  
  <select id="selectByPids" resultMap="BaseResultMap"  >
    select 
     c.menu_id, c.menu_url, c.menu_name, c.menu_islink, c.menu_sequ, c.menu_pare, c.menu_state, c.menu_info, c.menu_ico
     ,p.menu_name pmenu_name
    from sys_menu  c  left join sys_menu p  on c.menu_pare = p.menu_id
    <where>
    	and  c.menu_islink = '1'
    	<if test="array != null   ">
    		<foreach collection="array" item="pid"  open="  and  c.menu_pare in ("  close=")" separator="," >#{pid}</foreach>
    	</if>
    </where> 
    order by p.menu_sequ, c.menu_sequ
  </select>
  
  
  <select id="queryAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yuzo.question.entity.SysMenu" >
    insert into sys_menu (menu_id, menu_url, menu_name, 
      menu_islink, menu_sequ, menu_pare, 
      menu_state, menu_info, menu_ico
      )
    values (#{menuId,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{menuIslink,jdbcType=VARCHAR}, #{menuSequ,jdbcType=INTEGER}, #{menuPare,jdbcType=VARCHAR}, 
      #{menuState,jdbcType=VARCHAR}, #{menuInfo,jdbcType=VARCHAR}, #{menuIco,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.SysMenu" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuIslink != null" >
        menu_islink,
      </if>
      <if test="menuSequ != null" >
        menu_sequ,
      </if>
      <if test="menuPare != null" >
        menu_pare,
      </if>
      <if test="menuState != null" >
        menu_state,
      </if>
      <if test="menuInfo != null" >
        menu_info,
      </if>
      <if test="menuIco != null" >
        menu_ico,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIslink != null" >
        #{menuIslink,jdbcType=VARCHAR},
      </if>
      <if test="menuSequ != null" >
        #{menuSequ,jdbcType=INTEGER},
      </if>
      <if test="menuPare != null" >
        #{menuPare,jdbcType=VARCHAR},
      </if>
      <if test="menuState != null" >
        #{menuState,jdbcType=VARCHAR},
      </if>
      <if test="menuInfo != null" >
        #{menuInfo,jdbcType=VARCHAR},
      </if>
      <if test="menuIco != null" >
        #{menuIco,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.SysMenu" >
    update sys_menu
    <set >
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIslink != null" >
        menu_islink = #{menuIslink,jdbcType=VARCHAR},
      </if>
      <if test="menuSequ != null" >
        menu_sequ = #{menuSequ,jdbcType=INTEGER},
      </if>
      <if test="menuPare != null" >
        menu_pare = #{menuPare,jdbcType=VARCHAR},
      </if>
      <if test="menuState != null" >
        menu_state = #{menuState,jdbcType=VARCHAR},
      </if>
      <if test="menuInfo != null" >
        menu_info = #{menuInfo,jdbcType=VARCHAR},
      </if>
      <if test="menuIco != null" >
        menu_ico = #{menuIco,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.SysMenu" >
    update sys_menu
    set menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_islink = #{menuIslink,jdbcType=VARCHAR},
      menu_sequ = #{menuSequ,jdbcType=INTEGER},
      menu_pare = #{menuPare,jdbcType=VARCHAR},
      menu_state = #{menuState,jdbcType=VARCHAR},
      menu_info = #{menuInfo,jdbcType=VARCHAR},
      menu_ico = #{menuIco,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>