<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuzo.question.mapper.UserClassHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.yuzo.question.entity.UserClassHistory" >
    <id column="uc_id" property="ucId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="mc_id" property="mcId" jdbcType="VARCHAR" />
    <result column="uc_points" property="ucPoints" jdbcType="INTEGER" />
    <result column="uc_in_date" property="ucInDate" jdbcType="DATE" />
    <result column="uc_state" property="ucState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uc_id, user_id, mc_id, uc_points, uc_in_date, uc_state
  </sql>
  
  
  
  <update id="updateState" parameterType="string" >
    update user_class_history
    set 
      uc_state = '0'
    where user_id = #{value}  and uc_state = '1'
  </update>
  
  
  <select id="queryByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_class_history
    where user_id = #{value} and uc_state = '1'
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_class_history
    where uc_id = #{ucId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_class_history
    where uc_id = #{ucId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByUser" parameterType="java.lang.String" >
    delete from user_class_history
    where user_id = #{value,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.yuzo.question.entity.UserClassHistory" >
    insert into user_class_history (uc_id, user_id, mc_id, 
      uc_points, uc_in_date, uc_state
      )
    values (#{ucId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{mcId,jdbcType=VARCHAR}, 
      #{ucPoints,jdbcType=INTEGER}, #{ucInDate,jdbcType=DATE}, #{ucState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuzo.question.entity.UserClassHistory" >
    insert into user_class_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ucId != null" >
        uc_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mcId != null" >
        mc_id,
      </if>
      <if test="ucPoints != null" >
        uc_points,
      </if>
      <if test="ucInDate != null" >
        uc_in_date,
      </if>
      <if test="ucState != null" >
        uc_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ucId != null" >
        #{ucId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mcId != null" >
        #{mcId,jdbcType=VARCHAR},
      </if>
      <if test="ucPoints != null" >
        #{ucPoints,jdbcType=INTEGER},
      </if>
      <if test="ucInDate != null" >
        #{ucInDate,jdbcType=DATE},
      </if>
      <if test="ucState != null" >
        #{ucState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuzo.question.entity.UserClassHistory" >
    update user_class_history
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mcId != null" >
        mc_id = #{mcId,jdbcType=VARCHAR},
      </if>
      <if test="ucPoints != null" >
        uc_points = #{ucPoints,jdbcType=INTEGER},
      </if>
      <if test="ucInDate != null" >
        uc_in_date = #{ucInDate,jdbcType=DATE},
      </if>
      <if test="ucState != null" >
        uc_state = #{ucState,jdbcType=VARCHAR},
      </if>
    </set>
    where uc_id = #{ucId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuzo.question.entity.UserClassHistory" >
    update user_class_history
    set user_id = #{userId,jdbcType=VARCHAR},
      mc_id = #{mcId,jdbcType=VARCHAR},
      uc_points = #{ucPoints,jdbcType=INTEGER},
      uc_in_date = #{ucInDate,jdbcType=DATE},
      uc_state = #{ucState,jdbcType=VARCHAR}
    where uc_id = #{ucId,jdbcType=VARCHAR}
  </update>
  <update id="updateBeforeClass"  >
    update user_class_history
    set 
      uc_state = '0'
    where mc_id = #{mcId}  and user_id = #{userId}
  </update>

</mapper>