<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>修改页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	  <include th:replace="common/css :: commoncss"/>
		
		
		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

		

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->


				<!-- Main content -->
				<section class="content">
					<div class="row">
						<form class="form form-horizontal" method="post" id="form1"    th:object="${menu}"  >
						
							<input type="hidden" name="menuId"  th:value="*{menuId}"  >
							<!-- left column -->
							<div class="col-md-8 col-md-offset-2">
								<!-- general form elements -->
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">基本信息</h3>
									
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body">
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">菜单名称</label>
											<div class="col-sm-4">
												<input type="text" class="form-control" name="menuName"   th:value="*{menuName}" placeholder="请输入菜单名称" required="required">
											</div>
											<label for="name" class="col-sm-2 control-label">菜单序号</label>
											<div class="col-sm-4">
												<input type="number" class="form-control" name="menuSequ"   th:value="*{menuSequ}"  placeholder="请输入菜单序号" required="required">
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">上级菜单</label>
											<div class="col-sm-10">
												<select class="form-control" name="menuPare"  th:field="*{menuPare}"  required="required">
													<option value="">请选择</option>
													
													<option   th:value = "${pmenu.menuId }"   th:each="pmenu,i:${parList}"   th:text="${pmenu.menuName }"   >试题类型</option>
													
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">菜单url</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="menuUrl"  th:value="*{menuUrl}"  placeholder="请输入菜单url" required="required">
											</div>
										</div>
										
										<div class="form-group">
											<label for="cardid" class="col-sm-2 control-label">菜单说明</label>
											<div class="col-sm-10 ">
									       		<textarea rows="3"  name="menuInfo"  class="form-control"  th:text="*{menuInfo}"  placeholder="请输入菜单说明" ></textarea>
											</div>
										</div>
										
															
									<!-- /.box-body -->
									<div class="box-footer">
										<button type="button" class="btn btn-danger" onclick="cleanUp(this)">清空</button>
										<button type="button" class="btn btn-info pull-right"   onclick="doSub()">提交</button>
									</div>
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
								<!-- /.modal -->
							</div>
							<!--/.col (right) -->
						</form>
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		
		</div>
		<div th:replace="/common/js :: commonjs"></div>
	</body>
	
	<script type="text/javascript">
		
	function doSub(){
			
		var url = "/sysmenu/editSave";
		var data = $("#form1").serialize();
		console.log(data);
		$.ajax({
			url: url,
			method: 'POST',
			data: data,
			cache: false,
			success: function(data) {
				if("true" == data){
					parent.closeBoot();
				}
			},
			error: function (data) {
				
			}
		})	
	}
	
	
		//清空
		function cleanUp(btn) {
			parDiv = $(btn).parent().parent();
			parDiv.find("input").val("");
			parDiv.find("textarea").html("");
			parDiv.find("select").each(function(i, j) {
				$(j).find("option:selected").prop("selected", false);
				$(j).find("option").first().prop("selected", true);
			});
		}
	</script>

</html>