<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>添加页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	  <include th:replace="common/css :: commoncss"/>
		
		
		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

		

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
          				作业添加
			        </h1>
			       <ol class="breadcrumb">
						<li>
							<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
						</li>
						<li class="active">
							<a href="#">作业添加</a>
						</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="row">
						<form class="form form-horizontal" method="post"    th:action="@{/worklist/addSave}"  >
							<!-- left column -->
							<div class="col-md-8 col-md-offset-2">
								<!-- general form elements -->
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">基本信息</h3>
										<div class="box-search">
											<button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
										</div>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body">
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">作业名称</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="wlTitle"  placeholder="请您输入作业名称" required="required">
											</div>
										</div>
									
										<div class="form-group">
											<label for="cardid" class="col-sm-2 control-label">作业序号</label>
											<div class="col-sm-4">
												<input type="number" class="form-control" name='wlNum' placeholder="请您输入作业序号"  required="required">
											</div>
											<label for="cardid" class="col-sm-2 control-label">作业类型</label>
											<div class="col-sm-4">
												<select class="form-control" name="wtId">
													<option  value = "" >请选择</option>													
													<option  th:value = "${wt.wtId }"   th:each="wt,i:${wtList}"   th:text="${wt.wtName }" >所属科目</option>											
												</select>
											</div>
											
										</div>
										<div class="form-group">
											<label for="cardid" class="col-sm-2 control-label">所属课程</label>
											<div class="col-sm-4">
												<select class="form-control" name="crseId"  onchange="selCrseName(this)" >
													<option  value = "" >请选择</option>													
													<option  th:value = "${crse.crseId }"   th:each="crse,i:${crseList}"   th:text="${crse.crseName }" >所属科目</option>											
												</select>
											</div>
											<label for="cardid" class="col-sm-2 control-label">所属课程</label>
											<div class="col-sm-4">
												<input type="text" readonly="readonly" id="cname" class="form-control" name='crseName' placeholder="请您输入所属课程"  required="required">
											</div>
											
										</div>
										<div class="form-group">
											<label for="cardid" class="col-sm-2 control-label">作业说明</label>
											<div class="col-sm-10 ">
									       		<textarea rows="3" name="wlInfo"   class="form-control"  placeholder="请您输入作业说明" ></textarea>
											</div>
										</div>					
									<!-- /.box-body -->
									<div class="box-footer">
										<button type="button" class="btn btn-danger" onclick="cleanUp(this)">清空</button>
										<button type="submit" class="btn btn-info pull-right">提交</button>
									</div>
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
								<!-- /.modal -->
							</div>
							<!--/.col (right) -->
						</form>
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		
		</div>
		<div th:replace="common/js :: commonjs"></div>
	</body>
	
	<script type="text/javascript">

		function selCrseName(cid){
			var info = cid.options[cid.selectedIndex].innerText
			$("#cname").val(info);
		}

		//清空
		function cleanUp(btn) {
			parDiv = $(btn).parent().parent();
			parDiv.find("input").val("");
			parDiv.find("textarea").html("");
			parDiv.find("select").each(function(i, j) {
				$(j).find("option:selected").prop("selected", false);
				$(j).find("option").first().prop("selected", true);
			});
		}
	</script>

</html>