<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>查询页面</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<include th:replace="common/css :: commoncss"/>

	<style type="text/css">
	 	.content-wrapper {
				margin-left: 0px;
		}
		.qstnTitle img{display: none;}
		
		@media only screen and (max-width: 768px) {
			.box-header{
				flex-direction: column;
			}
			.box-header .box-search{
				margin: 10px auto;
			}
		}
	</style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
		         	信息设置
		        </h1>
				<ol class="breadcrumb">
					 <li>
						<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
					</li>
					<li class="active">
						<a href="#">信息设置</a>
					</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="box">
					<form name="infoForm" id="queryForm" method="post"   th:action="@{/userreply/openPage}"  >
						<div class="box-header clearfix">
							<h1>
					         	课堂提问
					        </h1>
						</div>
						<div class="box-header clearfix">
						
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">选择方案</span>
									<select class="form-control" name="tpId"    >
										<option value="">请选择</option>
										<option   th:value = "${tp.tpId }"   th:each="tp,i:${tplist}"   th:text="${tp.tpTitle }"   >试题类型</option>		
									</select>
								</div>
							</div>
							<div class="box-search">
								<div class="input-group">
									<span class="input-group-addon" style="background: #EEEEEE;">所属班级</span>
									<select class="form-control" name="mcId"    >
										<option value="">请选择</option>
										<option  th:value = "${mc.mcId}"   th:each="mc,i:${mclist}"   th:text="${mc.mcCode }"  >所属班级</option>
									</select>
								</div>
							</div>
						
							<div class="box-search btn-group">
								<button class="btn btn-info" name="queryInfo">确定</button>
								<button type="button" class="btn btn-primary" name="clearInfo" onclick="javascript:clearEle()">清空</button>
							
							</div>
						</div>
						
					</form>
					<!-- /.box-header -->
					
			
					
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
	</div>
	<!-- ./wrapper -->
<div th:replace="/common/js :: commonjs"></div>
</body>


<script type="text/javascript">



		



		function clearEle() {

			bootbox.confirm("确定要清空查询条件吗?", function(result) {
				if(result) {
					$("[name=infoForm] input").val("");
					$("[name=infoForm] select").each(function(i, j) {
						$(j).find("option:selected").prop("selected", false);
						$(j).find("option").first().prop("selected", true);
					});
				} else {
					console.log("no");
				}
			});
		}
		

	</script>

</html>