<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>添加页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	 <include th:replace="common/css :: commoncss"/>

		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

		

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
          				知识节添加
			        </h1>
			        <ol class="breadcrumb">
			       		<li>
							<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
						</li>
			          <li class="active"><a href="#">知识节添加</a></li>
			        </ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="row">
						<form class="form form-horizontal" method="post"    th:action="@{/subjSctn/addSave}"  >
							<!-- left column -->
							<div class="col-md-8 col-md-offset-2">
								<!-- general form elements -->
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">基本信息</h3>
										<div class="box-search">
											<button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
										</div>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body">
										<div class="form-group">
											<label for="name" class="col-sm-2 control-label">知识节名称</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" name="subjSctnTitle"  placeholder="请输入知识节名称" required="required">
											</div>
										</div>
										<div class="form-group">
											<label for="birth" class="col-sm-2 control-label">所属科目</label>
											<div class="col-sm-4">
												<select class="form-control"    onchange="ajaxUnit(this.value)" >
													<option  value = "" >请选择</option>				
													<option  th:value = "${subj.subjId }"   th:each="subj,i:${subjList}"   th:text="${subj.subjTitle }"   >${unit.subjUnitTitle }</option>													
												</select>
											</div>
											<label for="birth" class="col-sm-2 control-label">所属章</label>
											<div class="col-sm-4">
												<select class="form-control" name="subjUnitId" id="unitSelect" >
													<option  value = "" >请选择</option>				
													<option  th:value = "${unit.subjUnitId }"   th:each="unit,i:${unitList}"   th:text="${unit.subjUnitTitle }"   >${unit.subjUnitTitle }</option>													
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="cardid" class="col-sm-2 control-label">知识节序号</label>
											<div class="col-sm-3">
												<input type="text" class="form-control" name='subjSctnNum' placeholder="请您输入知识节序号"  required="required">
											</div>
											<label for="cardid" class="col-sm-2 control-label">知识节代号</label>
											<div class="col-sm-3">
												<input type="text" class="form-control" name='subjSctnCode'  onblur="singleSctnCode(this)" placeholder="请您输入知识节代号"  required="required">
											</div>
											<div class="col-sm-2" id="msg" >
											</div>
										</div>
									</div>
									<!-- /.box-body -->
									<div class="box-footer">
										<button type="button" class="btn btn-default" onclick="cleanUp(this)">清空</button>
										<button type="submit" class="btn btn-info pull-right">提交</button>
									</div>
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
								<!-- /.modal -->
							</div>
							<!--/.col (right) -->
						</form>
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		
		</div>
		
	<div th:replace="/common/js :: commonjs"></div>
	</body>
	
	<script type="text/javascript">
	function singleSctnCode(sctnCode){
		var	subjUnitId = $("#unitSelect").val();
		if(subjUnitId == null  ||  subjUnitId == ""){
			alert("请选择知识章!");
			return;
		}
		$.post("/subjSctn/singleSctnCode",{"sctnCode":sctnCode.value, "subjUnitId":subjUnitId},function(resp){
			if(resp == "no"){
				$("#msg").html("<font color='red'>已使用</font>");
				sctnCode.setCustomValidity("已使用");  
			}else{
				$("#msg").html("<font color='green'>可以用</font>");
				sctnCode.setCustomValidity("");  
			}
		})
	
}
	
	
		function ajaxUnit(subjId){
			var url = "/subjUnit/selectSubj";
			$.post(url, {"subjId": subjId}, function(resp){
				console.log(resp);
				$("#unitSelect").empty();
				$.each(resp, function(i, item){
					$("<option value='" + item.subjUnitId + "'>" + item.subjUnitTitle + "</option>")
					.appendTo("#unitSelect");
				});
			});
		}

		//清空
		function cleanUp(btn) {
			parDiv = $(btn).parent().parent();
			parDiv.find("input").val("");
			parDiv.find("textarea").html("");
			parDiv.find("select").each(function(i, j) {
				$(j).find("option:selected").prop("selected", false);
				$(j).find("option").first().prop("selected", true);
			});
		}
	</script>

</html>