<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>树型页面</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	 	<include th:replace="/common/css :: commoncss"/>

		<link rel="stylesheet" type="text/css" th:href="@{/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
		
		<style type="text/css">
			
			.content-wrapper {
				margin-left: 0px;
			}
		</style>
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

		

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
          				知识树
			        </h1>
			        <ol class="breadcrumb">
			       		<li>
							<a th:href="@{/dashboard}"><i class="glyphicon glyphicon-globe"></i>导航</a>
						</li>
			          <li class="active"><a href="#">知识树</a></li>
			        </ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="row">
					
							<!-- left column -->
							<div class="col-md-8 col-md-offset-2">
								<!-- general form elements -->
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">知识树</h3>
										<div class="box-search">
											<button type="button" class="btn btn-default pull-right" onclick="history.back()">返回</button>
										</div>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body">
										<div class="form-group">
											
											<div class="col-sm-12">
												
												<ul id="regionZTree" class="ztree"></ul>
												
												
											</div>
										</div>
									
									</div>
									<!-- /.box-body -->
									
									<!-- /.box-footer -->
								</div>
								<!-- /.box -->
								<!-- /.modal -->
							</div>
							<!--/.col (right) -->
						
					</div>
					<!-- /.row -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
		
		</div>
		
	<div th:replace="/common/js :: commonjs"></div>
	
    <script type="text/javascript" th:src="@{/plugins/zTree_v3/js/jquery.ztree.all.min.js}"></script>
    
	</body>
	
	<script type="text/javascript">
		
		var setting = {
	        view: {
	            dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
	            showLine: true,//是否显示节点之间的连线
	            fontCss:{'color':'black','font-weight':'bold'},//字体样式函数
	            selectedMulti: true //设置是否允许同时选中多个节点
	        },
	        check:{
	            //chkboxType: { "Y": "ps", "N": "ps" },
	            chkboxType: { "Y": "", "N": "" },
	            chkStyle: "checkbox",//复选框类型
	            enable: false //每个节点上是否显示 CheckBox
	        },
	        edit:{
	            enable: true,
	            editNameSelectAll: true,
	            showRemoveBtn : false,
	            showRenameBtn : false,
	            removeTitle : "remove",
	            renameTitle : "rename"
	        },
	        data: {
	            simpleData: {//简单数据模式
	                enable:true,
	                idKey: "id",
	                pIdKey: "IPARENTID",
	                rootPId: null
	            }
	        },
	        callback: {
	           // beforeExpand:zTreeBeforeExpand, // 用于捕获父节点展开之前的事件回调函数，并且根据返回值确定是否允许展开操作
	        }
	    };
		
		$(function(){
			var url = "/subjSctn/subjTree";
			$.post(url,function(resp){
				 zTreeObj = $.fn.zTree.init($("#regionZTree"), setting, resp);
			});
			
		});
		
	   
	    
	</script>

</html>